{{#if is_phone}}
<footer>
	<div class="row">
		<div class="top">
			<ul>
				<a href="/about"><li>About</li></a>
				<a href="/help" class="help-click"><li>Help</li></a>
				<a href="/terms-of-service"><li>Terms</li></a>
				<a href="/privacy-policy"><li>Privacy</li></a>
			</ul>
		</div>
		<div class="bot">
			<p>&copy; Madpad 2014</p>
		</div>
	</div>
</footer>
{{else}}
<footer class="sides">
	<div class="row">
		<div class="leftside">
			<p>&copy; Madpad 2014</p>
		</div>
		<div class="rightside">
			<ul>
				<a href="/about"><li>About</li></a>
				<a href="/help" class="help-click"><li>Help</li></a>
				<a href="/terms-of-service"><li>Terms</li></a>
				<a href="/privacy-policy"><li>Privacy Policy</li></a>
			</ul>
		</div>
	</div>
</footer>
{{/if}}

