<div id="variables" style="display:none">
	
	<input id="mpIsMobile" value="{{is_phone}}"/>
	<input id="mpIsMobile" value="{{isHome}}"/>


	<input id="mpUsersRoom" value="{{usersRoom}}"/>	
	<input id="mpUserUsername" value="{{user.username}}"/>
	<input id="mpUserID" value="{{user._id}}"/>
	<input id="mpUserName" value="{{user.name}}"/>
	<input id="mpUserPicture" value="{{user.picture}}"/>
	<input id="mpJustLoggedIn" value="{{user.justLoggedIn}}"/>

	<input id="mpAnonID" value="{{user.unknown.id}}"/>
	<input id="mpAnonColor" value="{{user.unknown.color}}"/>
	<input id="mpAnonAnimal" value="{{user.unknown.animal}}"/>
	<input id="mpAnonName" value="{{user.unknown.name}}"/>
	
	<input id="mpID" value="{{id}}"/>
	<input id="mpIsTextPad" value="{{pad.isTextPad}}"/>
	<input id="mpPadType" value="{{pad.type}}"/>
	<input id="mpPadRead" value="{{pad.readAccess}}"/>
	<input id="mpPadWrite" value="{{pad.writeAccess}}"/>

</div>