<div class="about-wrap">
<h1>Madpad is brought to you by...</h1>
<div class="row">
	<div class="col">
		<img src="/images/global/asif.jpg" class="about-avatar" />
		<h2>Asif Ahmed</h2>
		<hr/>
		<a href="http://linkedin.com/in/asifhahmed" target="_blank"><img src="/images/global/social-in.png" class="social-logo"/></a><a href="https://github.com/sifxtreme" target="_blank"><img src="/images/global/social-gh.png" class="social-logo"/></a><a href="https://twitter.com/sifxtreme" target="_blank"><img src="/images/global/social-t.png" class="social-logo"/></a><a href="http://lifesforlearning.com/" target="_blank"><img src="/images/global/social-blog.png" class="social-logo"/></a>
	</div>
	<div class="col">
		<img src="/images/global/jimmy.jpg" class="about-avatar" />
		<h2>Jimmy Xu</h2>
		<hr/>
		<a href="http://www.linkedin.com/in/adventjex" target="_blank"><img src="/images/global/social-in.png" class="social-logo"/></a><a href="https://github.com/adventjex" target="_blank"><img src="/images/global/social-gh.png" class="social-logo"/></a><a href="https://www.facebook.com/adventjex" target="_blank"><img src="/images/global/social-fb.png" class="social-logo"/></a>
	</div>
</div>
</div>