<div class="signup-step-wrapper">
	<div class="username-wrapper">
		<h1>Hi {{user.name}}! Please choose your username.</h1>
		
		<img src="{{user.picture}}" class="fb-signup-img" style="height:100px"/>
		<form method="post" class="username-form">
			<input name="username" placeholder="Choose Username" class="username-input" value="{{#if previousValue}}{{previousValue}}{{/if}}">
			<input type="submit" value="Continue" class="username-submit green-btn">
			<div class="signin-error error-msg">{{#if error}}{{error}}{{/if}}</div>
		</form>
	</div>
</div>