<div class="madpad-container minwidth">
	<section class="new-pad btn btn-1e">
		<a href="#"><img src="/images/sidebar/new@2x.png">New Pad</a>
	</section> <!-- new pad button -->
	<div class="left">
		<div class="offset"></div>
		<div class="all-pads">
			<section class="user-pads pad-list pad-hover">
				<h5>Adventjex</h5>
				<ul>
					<a href="#"><li>iOS</li></a>
					<a href="#"><li>Nodejs</li></a>
					<a href="#"><li>Sanjose</li></a>
					<a href="#"><li>Gameofthrones</li></a>
					<a href="#" class="active"><li>Aprcode1</li></a>
					<a href="#"><li>test</li></a>
				</ul>
			</section> <!-- user's pads -->
			<section class="shared-pads pad-list pad-hover">
				<h5>Shared Pads</h5>
				<ul>
					<a href="#"><li>apr</li></a>
					<a href="#"><li>wedding</li></a>
					<a href="#"><li>designux</li></a>
					<a href="#"><li>hiking</li></a>
					<a href="#"><li>feast</li></a>
				</ul>
			</section> <!-- shared pads -->
			<section class="public-pads pad-list pad-hover">
				<h5>Public Pads</h5>
				<ul>
					<a href="#"><li>doge</li></a>
					<a href="#"><li>reddit</li></a>
					<a href="#"><li>bitcoins</li></a>
					<a href="#"><li>facebook</li></a>
					<a href="#"><li>netflix</li></a>
					<a href="#"><li>okay</li></a>
				</ul>
		</section> <!-- public pads -->
		</div>
	</div>

	<div class="new-pad-area">
		<div class="input-area">
			<div class="pad-name">
				<div class="name-input">
					<input type="text" placeholder="Enter pad name here..." id="create-input" class="input" />
					<div class="underline"></div>
				</div> <!-- place to enter new pad's name -->
			</div>
			<br/>
			<button class="green-btn">CREATE PAD</button>
		</div> <!--  white area of creating a new pad -->
		<div class="pad-options">
			<div class="pad-type">
				<div class="text-pad active-type">
					<p class="pad-selector" id="text-pad">Text Pad</p>
				</div>
				<div class="code-pad">
					<p class="pad-selector" id="code-pad">Code Pad</p>
				</div>
			</div> <!-- Tabs for the new pad -->
			<div class="pad-description" id="text-info">
				<img src="/images/newpad/text-icon.png" class="icon" />
				<p class="type-title">Create a new text document</p>
				<p class="type-more">Your text pad is a text editor perfect for notes and content.</p>
			</div>
			<div class="pad-description" id="code-info">
				<img src="/images/newpad/code-icon.png" class="icon" />
				<p class="type-title">Create a new code document</p>
				<p class="type-more">Your code pad is a text editor perfect for coding and markup.</p>
			</div>
		</div>
	</div> <!-- create a new pad area -->

	<div class="middle">
		<div class="title">
			<div class="pad-name">
				<h2>{{id}} <span>{code pad}</span></h2>
				<!-- <a href="/auth/facebook/">Auth</a> -->
			</div>
			<div class="title-options">
				<div class="icon private-icon pad-settings" id ="trigger-overlay"></div>
				<div class="icon chaton-icon"></div>
				<div class="icon trash-icon"></div>
			</div>
		</div>
		<div class="pad-wrapper">
		<select id="mode" size="1">
	    <option value="actionscript">ActionScript</option>
	    <option value="apache_conf">Apache Conf</option>
	    <option value="assembly_x86">Assembly x86</option>
	    <option value="c_cpp">C and C++</option>
	    <option value="clojure">Clojure</option>
	    <option value="coffee">CoffeeScript</option>
	    <option value="csharp">C#</option>
	    <option value="css">CSS</option>
	    <option value="dart">Dart</option>
	    <option value="diff">Diff</option>
	    <option value="dockerfile">Dockerfile</option>
	    <option value="erlang">Erlang</option>
	    <option value="ejs">EJS</option>
			<option value="gitignore">Gitignore</option>
			<option value="golang">Go</option>
			<option value="groovy">Groovy</option>
			<option value="haml">HAML</option>
			<option value="handlebars">Handlebars</option>
			<option value="haskell">Haskell</option>
			<option value="html">HTML</option>
			<option value="html_ruby">HTML (Ruby)</option>
			<option value="ini">INI</option>
			<option value="jade">Jade</option>
			<option value="java">Java</option>
			<option value="javascript">JavaScript</option>
			<option value="json">JSON</option>
			<option value="jsp">JSP</option>
			<option value="latex">LaTeX</option>
			<option value="less">LESS</option>
			<option value="lisp">Lisp</option>
			<option value="lua">Lua</option>
			<option value="lucene">Lucene</option>
			<option value="makefile">Makefile</option>
			<option value="matlab">MATLAB</option>
			<option value="markdown">Markdown</option>
			<option value="mysql">MySQL</option>
			<option value="objectivec">Objective-C</option>
			<option value="perl">Perl</option>
			<option value="pgsql">pgSQL</option>
			<option value="php">PHP</option>
			<option value="prolog">Prolog</option>
			<option value="python">Python</option>
			<option value="r">R</option>
			<option value="rdoc">RDoc</option>
			<option value="ruby">Ruby</option>
			<option value="rust">Rust</option>
			<option value="sass">SASS</option>
			<option value="scheme">Scheme</option>
			<option value="scss">SCSS</option>
			<option value="sh">Shell</option>
			<option value="sql">SQL</option>
			<option value="text">Text</option>
			<option value="vbscript">VBScript</option>
			<option value="verilog">Verilog</option>
			<option value="xml">XML</option>
			<option value="yaml">YAML</option>
    </select>
			<div id="editor-code" class="pad-area"></div>
		</div>
	</div> <!-- main text area -->

	<div class="right">
		<div class="chat-title">
			<p><span>chat</span></p>
		</div>
    <div id="messages"></div>

    <div class="submit-wrapper">
	    <div class="submit-area">
		    <form action="" class="madpadChatForm">
		    	<textarea id="m" autocomplete="off" class="message-input" placeholder="Send a message..."></textarea>
		    </form>
	    </div>
    </div>
	</div> <!-- chat -->

</div>
<script>

var id = '{{id}}';
var usersRoom = '{{userroom}}';
var padName = (usersRoom) ? usersRoom + '_' + id : 'code' + '_' + id;

console.log(padName);

var padData = {
	type: '{{pad.type}}' || 'text',
}

madpadUserData = {
	facebookID: '{{user.facebookID}}',
	githubID: '{{user.githubID}}',
	facebookDate: new Date('{{user.facebookDate}}'),
	githubDate: new Date('{{user.githubDate}}'),
	facebookName: '{{user.facebookName}}',
	facebookPicture: '{{user.facebookPicture}}',
	githubName: '{{user.githubName}}',
	githubPicture: '{{user.githubPicture}}',
}

madpadSocket = io();
madpadSocket.emit('room', padName);

</script>