<div class="madpad-container minwidth">
	<section class="new-pad btn btn-1e">
		<a href="#"><img src="/images/sidebar/new@2x.png">New Pad</a>
	</section> <!-- new pad button -->
	<div class="left">
		<div class="offset"></div>
		<div class="all-pads">
			<section class="user-pads pad-list pad-hover">
				<h5>Adventjex</h5>
				<ul>
					<a href="#"><li>iOS</li></a>
					<a href="#"><li>Nodejs</li></a>
					<a href="#"><li>Sanjose</li></a>
					<a href="#"><li>Gameofthrones</li></a>
					<a href="#" class="active"><li>Aprcode1</li></a>
					<a href="#"><li>test</li></a>
				</ul>
			</section> <!-- user's pads -->
			<section class="shared-pads pad-list pad-hover">
				<h5>Shared Pads</h5>
				<ul>
					<a href="#"><li>apr</li></a>
					<a href="#"><li>wedding</li></a>
					<a href="#"><li>designux</li></a>
					<a href="#"><li>hiking</li></a>
					<a href="#"><li>feast</li></a>
				</ul>
			</section> <!-- shared pads -->
			<section class="public-pads pad-list pad-hover">
				<h5>Public Pads</h5>
				<ul>
					<a href="#"><li>doge</li></a>
					<a href="#"><li>reddit</li></a>
					<a href="#"><li>bitcoins</li></a>
					<a href="#"><li>facebook</li></a>
					<a href="#"><li>netflix</li></a>
					<a href="#"><li>okay</li></a>
				</ul>
		</section> <!-- public pads -->
		</div>
	</div>

	<div class="new-pad-area">
		<div class="input-area">
			<div class="pad-name">
				<div class="name-input">
					<input type="text" placeholder="Enter pad name here..." id="create-input" class="input" />
					<div class="underline"></div>
				</div> <!-- place to enter new pad's name -->
			</div>
			<br/>
			<button class="green-btn">CREATE PAD</button>
		</div> <!--  white area of creating a new pad -->
		<div class="pad-options">
			<div class="pad-type">
				<div class="text-pad active-type">
					<p class="pad-selector" id="text-pad">Text Pad</p>
				</div>
				<div class="code-pad">
					<p class="pad-selector" id="code-pad">Code Pad</p>
				</div>
			</div> <!-- Tabs for the new pad -->
			<div class="pad-description" id="text-info">
				<img src="/images/newpad/text-icon.png" class="icon" />
				<p class="type-title">Create a new text document</p>
				<p class="type-more">Your text pad is a text editor perfect for notes and content.</p>
			</div>
			<div class="pad-description" id="code-info">
				<img src="/images/newpad/code-icon.png" class="icon" />
				<p class="type-title">Create a new code document</p>
				<p class="type-more">Your code pad is a text editor perfect for coding and markup.</p>
			</div>
		</div>
	</div> <!-- create a new pad area -->

	<div class="middle">
		<div class="title">
			<div class="pad-name">
				<h2>{{id}} <span>{code pad}</span></h2>
				<!-- <a href="/auth/facebook/">Auth</a> -->
			</div>
			<div class="title-options">
				<div class="icon private-icon pad-settings" id ="trigger-overlay"></div>
				<div class="icon chaton-icon"></div>
				<div class="icon trash-icon"></div>
			</div>
		</div>
		<div class="pad-wrapper">
		<select id="mode" size="1">
	    <option value="actionscript">ActionScript</option>
	    <option value="apache_conf">Apache Conf</option>
	    <option value="assembly_x86">Assembly x86</option>
	    <option value="c_cpp">C and C++</option>
	    <option value="clojure">Clojure</option>
	    <option value="coffee">CoffeeScript</option>
	    <option value="csharp">C#</option>
	    <option value="css">CSS</option>
	    <option value="dart">Dart</option>
	    <option value="diff">Diff</option>
	    <option value="dockerfile">Dockerfile</option>
	    <option value="erlang">Erlang</option>
	    <option value="ejs">EJS</option>
			<option value="gitignore">Gitignore</option>
			<option value="golang">Go</option>
			<option value="groovy">Groovy</option>
			<option value="haml">HAML</option>
			<option value="handlebars">Handlebars</option>
			<option value="haskell">Haskell</option>
			<option value="html">HTML</option>
			<option value="html_ruby">HTML (Ruby)</option>
			<option value="ini">INI</option>
			<option value="jade">Jade</option>
			<option value="java">Java</option>
			<option value="javascript">JavaScript</option>
			<option value="json">JSON</option>
			<option value="jsp">JSP</option>
			<option value="latex">LaTeX</option>
			<option value="less">LESS</option>
			<option value="lisp">Lisp</option>
			<option value="lua">Lua</option>
			<option value="lucene">Lucene</option>
			<option value="makefile">Makefile</option>
			<option value="matlab">MATLAB</option>
			<option value="markdown">Markdown</option>
			<option value="mysql">MySQL</option>
			<option value="objectivec">Objective-C</option>
			<option value="perl">Perl</option>
			<option value="pgsql">pgSQL</option>
			<option value="php">PHP</option>
			<option value="prolog">Prolog</option>
			<option value="python">Python</option>
			<option value="r">R</option>
			<option value="rdoc">RDoc</option>
			<option value="ruby">Ruby</option>
			<option value="rust">Rust</option>
			<option value="sass">SASS</option>
			<option value="scheme">Scheme</option>
			<option value="scss">SCSS</option>
			<option value="sh">Shell</option>
			<option value="sql">SQL</option>
			<option value="text">Text</option>
			<option value="vbscript">VBScript</option>
			<option value="verilog">Verilog</option>
			<option value="xml">XML</option>
			<option value="yaml">YAML</option>
    </select>
			<div id="editor-code" class="pad-area"></div>
		</div>
	</div> <!-- main text area -->

	<div class="right">
		<div class="chat-title">
			<p><span>chat</span></p>
		</div>
    <div id="messages"></div>

    <div class="submit-wrapper">
	    <div class="submit-area">
		    <form action="" class="madpadChatForm">
		    	<textarea id="m" autocomplete="off" class="message-input" placeholder="Send a message..."></textarea>
		    </form>
	    </div>
    </div>
	</div> <!-- chat -->

</div>
<script>
var madpadSocket = io();
var padName = 'code_{{id}}';

var user = '{{username}}';
if(user) padName = user + '_' + padName;

var padData = {
	type: '{{pad.type}}' || 'text',
}

madpadSocket.emit('room', padName);

$(window).load(function(){
	var changeEditorType = function(type){
		editor.session.setMode("ace/mode/" + type);
		$("#mode").val(type);
	}
	// initial code editor
	editor = ace.edit("editor-code");
	changeEditorType(padData.type);
	editor.setTheme("ace/theme/chrome");
	editor.setShowPrintMargin(false);

	// change language on code
	$("#mode").on("change", function(){
		var codeMode = $(this).val();
		editor.session.setMode("ace/mode/" + codeMode);
		madpadSocket.emit('modeChanged', {room: padName, codeMode: codeMode});
	})

	// if someone else changed the codemode
	madpadSocket.on('changeMode', function(newCode){
		changeEditorType(newCode);
	});
	
	// share document
	sharejs.open(padName, 'text', function(error, doc) {
		doc.attach_ace(editor);	
		// go to the top line of the codepad editor when text loads
		// otherwise we will end up at the bottom of the content
		setTimeout(function(){editor.gotoLine(1)}, 1);
	});

});

</script>
<script>
	$("body").delegate(".chaton-icon", "click", function(){
		madpadSocket.emit('disableChat', {room: padName, disable: true})
	})
	$("body").delegate(".chatoff-icon", "click", function(){
		madpadSocket.emit('disableChat', {room: padName, disable: false})
	})

	madpadSocket.on('toggleChat', function(whichWay){
		$("#message").empty();
		if(!whichWay){
			mpFrontend.chat.open();
		}
		else{
			mpFrontend.chat.close();
		}
	});

</script>
<script>

	var letterArray = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"];
	var letter = letterArray[Math.floor(Math.random() * letterArray.length)];

	var colorArray = ["#be3333", "#be336e", "#be339f", "#ac33be", "#7e33be", "#4d33be", "#334dbe", "#3385be", "#33acbe", "#33beaf", "#33be85", "#33be47", "#78be33", "#9cbe33", "#bcbe33", "#be9f33", "#be7b33", "#be5733"];
	var color = colorArray[Math.floor(Math.random() * colorArray.length)];

	var animalArray = ["panda", "tiger", "cheetah", "gorilla", "monkey", "robin", "toucan", "elephant", "chimp", "sheep", "rooster", "dog", "cow", "chicken", "rabbit", "pig", "horse", "duck", "parrot", "mouse", "puppy", "cat", "lynx", "hamster", "ferret", "warthog", "wolf", "eagle", "owl", "bear", "hedgehog", "fox", "moose", "squirrel"];
	var animal = animalArray[Math.floor(Math.random() * animalArray.length)];

	$('.madpadChatForm').submit(function(){
		var messageValue = $('#m').val();
		if(messageValue == '') return false;
		var imageUrl = "";
		var userId = "";
		var facebookID = '{{user.facebookID}}';
		var githubID = '{{user.githubID}}';

		var facebookAuth = false;
		var githubAuth = false;

		if(facebookID && githubID){
			var facebookDate = new Date('{{user.facebookDate}}');
			var githubDate = new Date('{{user.githubDate}}');
			console.log(githubID);
			if(facebookDate > githubDate){
				facebookAuth = true;
			}
			else{
				githubAuth = true;
			}

		}
		else if(facebookID){
			facebookAuth = true;
		}
		else if(githubID){
			githubAuth = true;
		}
		if(facebookAuth){
			userId = facebookID;
			name = '{{user.facebookName}}';
			imageUrl = '{{user.facebookPicture}}';
		}
		if(githubAuth){
			userId = githubID;
			name = '{{user.githubName}}';
			imageUrl = '{{user.githubPicture}}';			
		}
		var messageObject = {'room': padName, 'name': name, 'picture': imageUrl, 'message': messageValue, 'profileId': userId};

		if(messageObject.profileId == ""){
			messageObject.picture = {'letter': letter, 'color': color, 'animal': animal};
		}

		madpadSocket.emit('chat', messageObject);
		$('#m').val('');
		messageObject.name = "me";
		madpadChat.appendChat(messageObject);
		return false;
	});

	madpadSocket.on('newMessage', function(msg){
		madpadChat.appendChat(msg);
	});

</script>