<div class="color-palette">
	<div class="c1 color-box"></div>
	<h1>@dark</h1>
	<h2>#232c30</h2>
</div>

<div class="color-palette">
	<div class="c2 color-box"></div>
	<h1>@sidebar</h1>
	<h2>#363e44</h2>
</div>

<div class="color-palette">
	<div class="c3 color-box"></div>
	<h1>@f</h1>
	<h2>#ffffff</h2>
</div>

<div class="color-palette">
	<div class="c4 color-box"></div>
	<h1>@d</h1>
	<h2>#dddddd</h2>
</div>

<div class="color-palette">
	<div class="c5 color-box"></div>
	<h1>@ea</h1>
	<h2>#eaeaea</h2>
</div>
<!-- 5 -->

<div class="color-palette">
	<div class="c6 color-box"></div>
	<h1>@9</h1>
	<h2>#9ea5ab</h2>
</div>

<div class="color-palette">
	<div class="c7 color-box"></div>
	<h1>@7</h1>
	<h2>#777777</h2>
</div>

<div class="color-palette">
	<div class="c8 color-box"></div>
	<h1>@yellow</h1>
	<h2>#f1cf5d</h2>
</div>

<div class="color-palette">
	<div class="c9 color-box"></div>
	<h1>@blue</h1>
	<h2>#5dbff1</h2>
</div>

<div class="color-palette">
	<div class="c10 color-box"></div>
	<h1>@red</h1>
	<h2>#cd7155</h2>
</div>
<!-- 10 -->

<div class="color-palette">
	<div class="c11 color-box"></div>
	<h1>@green</h1>
	<h2>#33bea8</h2>
</div>

<div class="color-palette">
	<div class="c12 color-box"></div>
	<h1>@green-hover</h1>
	<h2>#3bd9be</h2>
</div>

<div class="color-palette">
	<div class="c13 color-box"></div>
	<h1>@hover</h1>
	<h2>#4b555d</h2>
</div>

<div class="color-palette">
	<div class="c14 color-box"></div>
	<h1>@hover-light</h1>
	<h2>#636d75</h2>
</div>

<div class="color-palette">
	<div class="c15 color-box"></div>
	<h1>@light</h1>
	<h2>#f9f9f9</h2>
</div>
<!-- 15 -->


<div class="color-palette">
	<div class="c16 color-box"></div>
	<h1>@message</h1>
	<h2>#f4f6f9</h2>
</div>

<div class="color-palette">
	<div class="c16 color-box"></div>
	<h1>@red-hover</h1>
	<h2>#e57e5e</h2>
</div>