{{#if user}}
<div class="create-pad">
  <div class="create-pad-container">
    <h1>This pad doesn't exist, create it!</h1>
    <form method="post" id="createPadForm" class="openCreatePadForm">
        <div class="name-input">
          <div class="label">Pad Name</div>
          <input type="text" name="pad[name]" class="pad-name" placeholder="Enter your pad name here..." />
          <input type="hidden" name="pad[type]" value="text" />
          <input type="hidden" name="pad[username]" value="{{user.username}}" />
          <input type="hidden" name="pad[ajax]" value="true" />
        </div>
        <hr/>
      <div class="pad-option">
          <div class="label">Pad Type</div>
          <div class="text-pad option-tab active">
              <p>Text Pad</p>
          </div>
          <div class="code-pad option-tab">
              <p>Code Pad</p>
          </div>
      </div>
      <hr/>
      <div class="inputPadErrors">
      </div>
      <button class="green-btn" id="new-button">CREATE PAD</button>
          <div class="inputWhatPadWillOpen">
          <p>Your Pad's URL</p>
          </div>
    </form>
  </div>
</div>
{{/if}}