{{#if is_phone}}

<div class="mobile-view-frame">
<div class="hero">
	<div class="text">
		<h1 class="noselect">madpad is here</h1>
		<h2 class="noselect">Ultra fast collaborative code editing</h2>
		<a href="#" class="login-button noselect home-signup">Sign Up</a>
	</div>
</div>

<div class="section white">
	<div class="image">
		<img class="retina-image" src="/images/global/code-example.png" />
	</div>
	<div class="info">
		<h1>Real time collaborative coding</h1>
		<p>You need to access a document on another computer? No problem, we've got you covered.  You want to share your work in real time? That's easy too!</p>
		<p>Madpad takes away the hassle of sharing google docs and allows you to work collaboratively in a blink of an eye. </p>
	</div>
</div>

<div class="section grey">
	<div class="image">
		<img class="retina-image" src="/images/global/iphone.png" />
	</div>
	<div class="info">
		<h1>Chat about your code</h1>
		<p>Communication is important.  We've made it easy.</p>
		<p>Madpad allows you to chat with your collaborators on any device.  Even without having to log in, you can contribute to the conversation whereever you are.</p>
	</div>
</div>

<div class="section white">
	<div class="image">
		<img class="retina-image" src="/images/global/privacy.png"/>
	</div>
	<div class="info">
		<h1>Customize your privacy.</h1>
		<p>Privacy is important, we understand.</p>
		<p>Madpad gives you the flexibility of different privacy settings for all of your documents.  Keeping your work private or sharing it with the world couldn't be easier.</p>
	</div>
</div>

<div class="section signuparea">
	<h1 class="noselect">Ready to get started?</h1>
	<a href="#" class="login-button noselect home-signup">Sign Up</a>
</div>

{{> footer}}
{{else}}

<div class="home">
	<!-- <div class="black-bg"></div> -->
	<div class="hero" >
		<div class="hero-info" data-scroll-speed="-5">
			<h1>madpad is here.</h1>
			<h2>Ultra fast collaborative code editing</h2>
		</div>	
			<div class="try">
				<input class="url-input" placeholder="Enter a name of a pad..."/>
				<a href="#" class="try-btn">GO TO PAD</a>
			</div>
	</div>


	<div class="section">
		<div class="container fade">
			<div class="row">
				<div class="text-wrapper lefter">
					<h6>Real time collaborative coding</h6>
					<p>You need to access a document on another computer? No problem, we've got you covered. You want to share your work in real time? That's easy too!</p>
					<p>Madpad takes away the hassle of sharing google docs and allows you to work collaboratively in a blink of an eye. </p>
				</div>
				<div class="image-wrapper righter">
					<img src="/images/new/collab.png" class="image"/>
				</div>
			</div>
		</div>
	</div>

	<div class="section grey">
		<div class="container fade">
			<div class="row">
				<div class="image-wrapper lefter">
					<img src="/images/new/iphone.png" class="image iphone"/>
				</div>
				<div class="text-wrapper righter">
					<h6>Chat about your code</h6>
					<p>Communication is important. We've made it easy.</p>
					<p>Madpad allows you to chat with your collaborators on any device. Even without having to log in, you can contribute to the conversation whereever you are.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="full-section">
		<div class="row">
			<div class="left-section">
				<div class="text">
					<h6>Customize your privacy</h6>
					<p>Madpad gives you the flexibility of different privacy settings for all of your documents. Keeping your work private or sharing it with the world couldn't be easier.</p>
					<div class="privacy">
						<i class="fa fa-folder-o"></i><span>Open to the world</span>
					</div>
				</div>
			</div>
			<div class="right-section">				
			</div>
		</div>
	</div>

</div>

{{> footer}}
</div>
{{/if}}
{{> variables}}
