<!-- <div class="offset"></div> -->
<div class="hero">
	<div class="text">
		<h1>madpad is here</h1>
		<h2>Ultra fast "document" and {code} editing from anywhere</h2>
	</div>
	<div class="pad-example">
		<div id="editor" class="pad-area editor-active" placeholder="Start typing here!"></div>
		<textarea class="main" style="display:none;" id="pusherContentEditable"></textarea>
	</div>
</div>
<div class="section white minwidth sides codesection">
	<div class="row">
		<div class="col-50 text">
			<h1>Text editing or code editing. Why not both?</h1>
			<p>You need to access a document on another computer? No problem, we've got you covered.  You want to share your work in real time? That's easy too!</p>
			<p>Madpad takes away the hassle of sharing google docs and allows you to work collaboratively in a blink of an eye. </p>
		</div>
		<div class="col-50">
			<img src="/images/global/code-example.png" class="code-example" />
		</div>
	</div>
</div>

<div class="section grey minwidth sides iphonesection ">
	<div class="row">
		<div class="col-50">
			<img src="/images/global/iphone.png" class="iphone" />
		</div>
		<div class="col-50 text">
			<h1>Chat about your docs</h1>
			<p>Communication is important.  We've made it easy.</p>
			<p>Madpad allows you to chat with your collaborators on any device.  Even without having to log in, you can contribute to the converation with your own personal avatars.</p>
		</div>
	</div>
</div>


<div style="height: 500px;"></div>
<!-- <p>For example go to <a href="/YOUR_NAME">madpad.me/YOUR_NAME</a> to create or edit a snippet.</p>
<p>Or if you want a random short URL that you can remember go to <a href="/{{random}}">madpad.me/{{random}}</a></p> -->

<script>
isHome = true;
</script>
{{> variables}}
