<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/public.css" type="text/css">
    <link rel="stylesheet" href="/mobile.css" type="text/css">
    <link href="/froala_1.2.1/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/froala_1.2.1/css/froala_editor.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <!-- <script src="/js/public.js"></script> -->
    <script src="/js/mobile.js"></script>
    <script src="/js/Autolinker.min.js"></script>
    <script src="/sharejs/bcsocket.js"></script>
    <script src="/sharejs/share.uncompressed.js"></script>
    <script src="/sharejs/socket.io.js"></script>
    <script src="/froala_1.2.1/js/froala_editor.js"></script>
    <script src="/froala_1.2.1/js/plugins/tables.min.js"></script>
    <script src="/froala_1.2.1/js/plugins/lists.min.js"></script>
    <script src="/froala_1.2.1/js/plugins/colors.min.js"></script>
    <script src="/froala_1.2.1/js/plugins/font_family.min.js"></script>
    <script src="/froala_1.2.1/js/plugins/font_size.min.js"></script>
    <script src="/froala_1.2.1/js/plugins/block_styles.min.js"></script>
    <script src="/froala_1.2.1/js/plugins/media_manager.min.js"></script>
    <script src="/froala_1.2.1/js/plugins/video.min.js"></script>
    <script src="/rangy/range-core.js"></script>
    <script src="/rangy/range-textarea.js"></script>
    <script src="/ace/ace.js"></script>
    <script src="/ace/ace-editor.js"></script>
    <script src="/js/textarea.js"></script>
    <script src="/js/editable.js"></script>  
</head>

<body class="mobile">

    <div class="m-header m-padding">
        <div class="left-header">
            <div class="hamburger">
                 <img src="/images/mobile/hamburger.png" />
            </div>
            <div class="logo">
                 <img src="/images/mobile/logo@2x.png" />
            </div>
        </div><!-- left side -->
        <div class="right-header">
            <div class="m-icons m-plus">
                  <img src="/images/mobile/newpad.png" />
            </div>
            <div class="m-icons m-options">
                  <img src="/images/mobile/options.png" />
            </div>
            <div class="m-icons m-account">
                  <img src="/images/chat/melanie.jpg" />
            </div>
        </div><!-- right side -->
    </div><!-- header -->
    <div class="m-tabs">
        <div class="tab m-pad active">
            <p>Pad</p>
        </div>
        <div class="tab m-chat">
            <p>Chat</p>
        </div>
        <div class="tab m-share">
            <p>Share</p>
        </div>
    </div>
    <div class="tab-shadow"></div>
    <div class="m-offset"></div>
    <div class="m-content">
        <div class="m-pad-content">
          {{#if pad.isTextPad}}
            <div id="editor" class="pad-area" placeholder="Start typing here!"></div>
            <textarea class="main" style="display:none;" id="pusherContentEditable"></textarea>
          {{else}}
            {{> code_modes_select}}
            <div id="editor-code" class="pad-area"></div>
          {{/if}}
        </div> <!-- pad -->
        <div class="m-chat-content">
            <div class="chat" {{#unless pad.chat}}style="display:none"{{/unless}}>
                  <div id="messages"></div>
                  <div class="submit-wrapper">
                    <div class="submit-area">
                      <form action="" class="madpadChatForm">
                        <textarea id="m" autocomplete="off" class="message-input" placeholder="Send a message..."></textarea>
                      </form>
                    </div>
                  </div>
              </div> <!-- chat -->
        </div>
        <div class="m-share-content">
            share
        </div>

    </div>
    <script>

    var id = '{{id}}';
    var usersRoom = '{{usersRoom}}';
    var isTextPad = '{{pad.isTextPad}}';
    var padType = (isTextPad == 'true') ? 'text' : 'code';
    var padName = (usersRoom) ? usersRoom + '_' + id : padType + '_' + id;
    var username = '{{user.username}}';
    var userID = '{{user._id}}';
    var isOwner = (usersRoom == username) ? true : false;

    var padData = {
      type: '{{pad.type}}' || 'text',
    }

    var padReadAccess = '{{pad.readAccess}}';
    var padWriteAccess = '{{pad.writeAccess}}';
    var padPrivacyStatus = 'private';
    if(padReadAccess) padPrivacyStatus = 'shared';
    if(padWriteAccess) padPrivacyStatus = 'public';

    madpadUserData = {
      userID: userID,
      username: username,
      name: '{{user.name}}',
      picture: '{{user.picture}}',
      unknown: {
        id: '{{user.unknown.id}}',
        color: '{{user.unknown.color}}',
        animal: '{{user.unknown.animal}}',
        name: '{{user.unknown.name}}' + '-' + '{{user.unknown.animal}}'
      }
    }

    var options = {authentication: userID};

    madpadSocket = io();
    madpadSocket.emit('room', {room: padName, user: madpadUserData});

    </script>

    <script src="/js/textpad.js"></script>
    <script src="/js/codepad.js"></script>
    <script src="/js/heart.js"></script>
    <script src="/js/delete_pads.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/privacy.js"></script>

</body>
</html>