<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/public.css" type="text/css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/wysiwig.js"></script>

	<script src="/channel/bcsocket.js"></script>
	<script src="/share/share.uncompressed.js"></script>
	<script src="/share/textarea.js"></script>  
  
</head>
<body>

  {{{body}}}

<script type="text/javascript">
  $('.main').height($(window).height() - 80);
</script>
</body>
</html>