<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  {{> favicons}}

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/{{#if is_phone}}mobile{{else}}public{{/if}}.css" type="text/css">
  <link rel="stylesheet" href="/css/other.css" type="text/css">
  
</head>

<body {{#if is_phone}}class="mobile"{{/if}}>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44257324-2', 'auto');
  ga('send', 'pageview');

</script>

  {{> status_messaging}}

  {{#if is_phone}}
    {{> mobile/modals}}
    {{> mobile/header}}
  {{else}}
    {{> modals/login_signup}}
    {{> modals/settings}}
    {{> modals/delete}}
    {{> modals/create_pad}}
    {{> header}}
  {{/if}}

  {{{body}}}
  <script src="/ace/ace.js"></script>
  <script src="/js/all.js"></script>
  {{> feedback}}

</body>
</html>

