<div class="madpad-container minwidth">
	<section class="new-pad btn btn-1e">
		<a href="#"><img src="/images/sidebar/new@2x.png">New Pad</a>
	</section> <!-- new pad button -->
	<div class="left">
		<div class="offset"></div>
		<section class="user-pads pad-list pad-hover">
			<h5>Adventjex</h5>
			<ul>
				<a href="#"><li>iOS</li></a>
				<a href="#"><li>Nodejs</li></a>
				<a href="#"><li>Sanjose</li></a>
				<a href="#"><li>Gameofthrones</li></a>
				<a href="#" class="active"><li>Aprcode1</li></a>
				<a href="#"><li>test</li></a>
			</ul>
		</section> <!-- user's pads -->
		<section class="shared-pads pad-list pad-hover">
			<h5>Shared Pads</h5>
			<ul>
				<a href="#"><li>apr</li></a>
				<a href="#"><li>wedding</li></a>
				<a href="#"><li>designux</li></a>
				<a href="#"><li>hiking</li></a>
				<a href="#"><li>feast</li></a>
			</ul>
		</section> <!-- shared pads -->
		<section class="public-pads pad-list pad-hover">
			<h5>Public Pads</h5>
			<ul>
				<a href="#"><li>doge</li></a>
				<a href="#"><li>reddit</li></a>
				<a href="#"><li>bitcoins</li></a>
				<a href="#"><li>facebook</li></a>
				<a href="#"><li>netflix</li></a>
				<a href="#"><li>okay</li></a>
			</ul>
		</section> <!-- public pads -->
	</div>

	<div class="new-pad-area">
		<div class="input-area">
			<div class="pad-name">
				<div class="name-input">
					<input type="text" placeholder="Enter pad name here..." id="create-input" class="input" />
					<div class="underline"></div>
				</div> <!-- place to enter new pad's name -->
			</div>
			<br/>
			<button class="green-btn">CREATE PAD</button>
		</div> <!--  white area of creating a new pad -->
		<div class="pad-options">
			<div class="pad-type">
				<div class="text-pad active-type">
					<p class="pad-selector" id="text-pad">Text Pad</p>
				</div>
				<div class="code-pad">
					<p class="pad-selector" id="code-pad">Code Pad</p>
				</div>
			</div> <!-- Tabs for the new pad -->
			<div class="pad-description" id="text-info">
				<img src="/images/newpad/text-icon.png" class="icon" />
				<p class="type-title">Create a new text document</p>
				<p class="type-more">Your text pad is a text editor perfect for notes and content.</p>
			</div>
			<div class="pad-description" id="code-info">
				<img src="/images/newpad/code-icon.png" class="icon" />
				<p class="type-title">Create a new code document</p>
				<p class="type-more">Your code pad is a text editor perfect for coding and markup.</p>
			</div>
		</div>
	</div> <!-- create a new pad area -->

	<div class="middle">
		<div class="title">
			<div class="pad-name">
				<h2>{{id}} Pad</h2>
			</div>
			<div class="pad-icons">
				<img src="/images/main/eye.png" class="icons" draggable='false'/>
				<img src="/images/main/options.png" class="icons"/>
				<img src="/images/main/trash.png" class="icons"/>
			</div>
		</div>
		<div class="pad-wrapper">
			<textarea id="editor" class="pad-area" placeholder="Start typing here!"></textarea>
		</div>
	</div> <!-- main text area -->

	<div class="right">
			<div class="chat-title">
				<p>{{id}} Chat</p>
			</div>
		    <div id="messages"></div>

		    <div class="submit-wrapper">
			    <div class="submit-area">
				    <form action="">
				    	<textarea id="m" autocomplete="off" class="message-input" placeholder="Send a message..."></textarea>
				    </form>
			    </div>
		    </div>
	</div> <!-- chat -->

</div>
<script>
	$("#editor").editable({inlineMode: false});

	// var auth = "whatever";
	// var options = {authentication: auth}
	// var pad = document.getElementById('editor');
	// var theSharing = sharejs.open('{{id}}', 'text', options, function(error, doc) {
	// 	pad.value = "";
	// 	window.doc = doc;
	// 	window.doc.attach_textarea(pad);
	// });

	function scrollDown(){
		$('#messages').stop().animate({
		  scrollTop: $("#messages")[0].scrollHeight
		}, 800);
	}

	function replaceEmoticons(str){
		var emoticons = [
			{regex: /O:\)/g, image: 'angel'},
			{regex: />:-\(/g, image: 'angry'},
			{regex: /\(baseball\)/g, image: 'baseball'},
			{regex: /\(basketball\)/g, image: 'basketball'},
			{regex: /\(bear\)/g, image: 'bear'},
			{regex: /\(beer\)/g, image: 'beer'},
			{regex: /\^.\^/g, image: 'bigsmile'},
			{regex: /\(bomb\)/g, image: 'bomb'},
			{regex: /\(cat\)/g, image: 'cat'},
			{regex: /\(cheers\)/g, image: 'cheers'},
			{regex: /:-\//g, image: 'confused'},
			{regex: /;\(/g, image: 'crying'},
			{regex: /\(devil\)/g, image: 'devil'},
			{regex: /\(dog\)/g, image: 'dog'},
			{regex: /\(dragon\)/g, image: 'dragon'},
			{regex: /:\|/g, image: 'eh'},
			{regex: /\(elsa\)/g, image: 'elsa'},
			{regex: /\(fire\)/g, image: 'fire'},
			{regex: /\(football\)/g, image: 'football'},
			{regex: /\(frog\)/g, image: 'frog'},
			{regex: /\(futbol\)/g, image: 'futbol'},
			{regex: /\(ghost\)/g, image: 'ghost'},
			{regex: /:\)/g, image: 'happy'},
			{regex: /<3/g, image: 'heart'},
			{regex: /\(koala\)/g, image: 'koala'},
			{regex: /\(lightning\)/g, image: 'lightning'},
			{regex: /\(monkey\)/g, image: 'monkey'},
			{regex: /\(octopus\)/g, image: 'octopus'},
			{regex: /:o/g, image: 'oh'},
			{regex: /:O/g, image: 'oh'},
			{regex: /-_-/g, image: 'okay'},
			{regex: /\(panda\)/g, image: 'panda'},
			{regex: /\(rabbit\)/g, image: 'rabbit'},
			{regex: /:D/g, image: 'reallyhappy'},
			{regex: /\(riceball\)/g, image: 'riceball'},
			{regex: /\:\(/g, image: 'sad'},
			{regex: /\(santa\)/g, image: 'santa'},
			{regex: /\(snow\)/g, image: 'snow'},
			{regex: /\(snowman\)/g, image: 'snowman'},
			{regex: /\(stuart\)/g, image: 'stuart'},
			{regex: /\(sun\)/g, image: 'sun'},
			{regex: /\(tennis\)/g, image: 'tennis'},
			{regex: /\(tiger\)/g, image: 'tiger'},
			{regex: /\(toothless\)/g, image: 'toothless'},
			{regex: /:p/g, image: 'tongue'},
			{regex: /:P/g, image: 'tongue'},
			{regex: /\(tup\)/g, image: 'thumbsup'},
			{regex: /\(tdown\)/g, image: 'thumbsdown'},
			{regex: /\(water\)/g, image: 'water'},
			{regex: /\(whale\)/g, image: 'whale'},
			{regex: /o.o/g, image: 'what'},
			{regex: /O.O/g, image: 'what'},
			{regex: /;\)/g, image: 'wink'},
		]

		for(var i = 0; i<emoticons.length; i++){
			str = str.replace(emoticons[i].regex,
				'<img style="width: 18px;" src="/images/emoticons/' + emoticons[i].image + '.png"/>');
		}

		return str;
	}

	function convertLinks(str){
		return Autolinker.link(str);
	}

	function appendChat(whoami, message){
		
		message = message.replace(/\r\n|\r|\n/g,"<br />");
		
		var whichClass, whichPicture, whichName;
		if(whoami == "me"){
			whichClass = 'user';
			whichName = "Melanie";
		}
		else{
			whichClass = 'other-user';
			whichName = "Kate";
		}

		var messageToAppend = "<div class='" + whichClass + "'>";
		messageToAppend += '<div class="message-area"><img src="/images/chat/melanie.jpg" class="avatar"/><div class="content">' + message +'<div class="name">' + whichName + '</div></div></div>';
		messageToAppend += '</div>';

		messageToAppend=replaceEmoticons(messageToAppend);
		messageToAppend=convertLinks(messageToAppend);
		$('#messages').append(messageToAppend);
		scrollDown();
		
	}

	var socket = io();
	var room = '{{id}}';
	socket.emit('room', room);

	$('form').submit(function(){
		var messageValue = $('#m').val();
		socket.emit('chat', {'room': room, message: messageValue});
		$('#m').val('');
		appendChat('me', messageValue);
		return false;
	});

	socket.on('newMessage', function(msg){
		appendChat('you', msg);
	});

</script>