<div class="container">
	<div class="row">
		<div class="col-md-12">
			<textarea class="main" placeholder="Enter text here" id="content"></textarea>
		</div>
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
$(function(){
	// $(document).delegate('textarea', 'keydown', function(e) {
	// 	var keyCode = e.keyCode || e.which;
	// 	if (keyCode == 9) {
	// 		e.preventDefault();
	// 		var start = $(this).get(0).selectionStart;
	// 		var end = $(this).get(0).selectionEnd;

	// 		// set textarea value to: text before caret + tab + text after caret
	// 		$(this).val($(this).val().substring(0, start)
	// 								+ "\t"
	// 								+ $(this).val().substring(end));

	// 		// put caret at right position again
	// 		$(this).get(0).selectionStart =
	// 		$(this).get(0).selectionEnd = start + 1;
	// 	}
	// });


var _to_ascii = {
  '188': '44',
  '109': '45',
  '190': '46',
  '191': '47',
  '192': '96',
  '220': '92',
  '222': '39',
  '221': '93',
  '219': '91',
  '173': '45',
  '187': '61', //IE Key codes
  '186': '59', //IE Key codes
  '189': '45'  //IE Key codes
}

var shiftUps = {
  "96": "~",
  "49": "!",
  "50": "@",
  "51": "#",
  "52": "$",
  "53": "%",
  "54": "^",
  "55": "&",
  "56": "*",
  "57": "(",
  "48": ")",
  "45": "_",
  "61": "+",
  "91": "{",
  "93": "}",
  "92": "|",
  "59": ":",
  "39": "\"",
  "44": "<",
  "46": ">",
  "47": "?"
};

var socket = io.connect();
socket.on('connect', function () {
	socket.emit('connection', '{{id}}');

 //  // disconnect
	// socket.on('disconnect', function() {
	// 	console.log("DISCONNECTED FROM SERVER");
	// });

	// message
	socket.on('message', function (data) {
		console.log("RECEIVE MESSAGE");
	  $('textarea').val(data);
	 });

});
$('textarea').bind('keypress', function(e){
	e.preventDefault();
});
$('textarea').bind('keyup', function(e) {
	e.preventDefault();
	var c = e.which;

	if (_to_ascii.hasOwnProperty(c)) {
		c = _to_ascii[c];
	}

	if (!e.shiftKey && (c >= 65 && c <= 90)) {
		c = String.fromCharCode(c + 32);
	} else if (e.shiftKey && shiftUps.hasOwnProperty(c)) {
		c = shiftUps[c];
	} else {
		c = String.fromCharCode(c);
	}
	// console.log(c);
	// console.log(this.selectionStart);
	// console.log(this.selectionEnd);
	emitter(c);
});
// $('textarea').bind('paste', function(event){
// 	setTimeout(function() {
// 	  emitter();
// 	}, 10);
// });

function emitter(message){
	// console.log("SEND MESSAGE: " + message);
  socket.emit('send', { room: "{{id}}", message: message });
}

})
</script>