<div class="madpad-container minwidth">
<!-- 	<section class="new-pad btn btn-1e">
		<a href="#"><img src="/images/sidebar/new@2x.png">New Pad</a>
	</section> -->
	<div class="left">
		<div class="offset"></div>
		<div class="all-pads">
			<section class="user-pads pad-list pad-hover">
				<h5>Adventjex</h5>
				<ul>
					<a href="#"><li>iOS</li></a>
					<a href="#"><li>Nodejs</li></a>
					<a href="#"><li>Sanjose</li></a>
					<a href="#"><li>Gameofthrones</li></a>
					<a href="#" class="active"><li>Aprcode1</li></a>
					<a href="#"><li>test</li></a>
				</ul>
			</section> <!-- user's pads -->
			<section class="shared-pads pad-list pad-hover">
				<h5>Shared Pads</h5>
				<ul>
					<a href="#"><li>apr</li></a>
					<a href="#"><li>wedding</li></a>
					<a href="#"><li>designux</li></a>
					<a href="#"><li>hiking</li></a>
					<a href="#"><li>feast</li></a>
				</ul>
			</section> <!-- shared pads -->
			<section class="public-pads pad-list pad-hover">
<!-- 				<h5>Public Pads</h5>
				<ul>
					<a href="#"><li>doge</li></a>
					<a href="#"><li>reddit</li></a>
					<a href="#"><li>bitcoins</li></a>
					<a href="#"><li>facebook</li></a>
					<a href="#"><li>netflix</li></a>
					<a href="#"><li>okay</li></a>
				</ul> -->
		</section> <!-- public pads -->
		</div>
	</div>

	<div class="new-pad-area">
		<div class="input-area">
			<div class="pad-name">
				<div class="name-input">
					<input type="text" placeholder="Enter pad name here..." id="create-input" class="input" />
					<div class="underline"></div>
				</div> <!-- place to enter new pad's name -->
			</div>
			<br/>
			<button class="green-btn">CREATE PAD</button>
		</div> <!--  white area of creating a new pad -->
		<div class="pad-options">
			<div class="pad-type">
				<div class="text-pad active-type">
					<p class="pad-selector" id="text-pad">Text Pad</p>
				</div>
				<div class="code-pad">
					<p class="pad-selector" id="code-pad">Code Pad</p>
				</div>
			</div> <!-- Tabs for the new pad -->
			<div class="pad-description" id="text-info">
				<img src="/images/newpad/text-icon.png" class="icon" />
				<p class="type-title">Create a new text document</p>
				<p class="type-more">Your text pad is a text editor perfect for notes and content.</p>
			</div>
			<div class="pad-description" id="code-info">
				<img src="/images/newpad/code-icon.png" class="icon" />
				<p class="type-title">Create a new code document</p>
				<p class="type-more">Your code pad is a text editor perfect for coding and markup.</p>
			</div>
		</div>
	</div> <!-- create a new pad area -->

	<div class="middle">
		<div class="title">
			<div class="pad-name">
				<h2>{{id}} <span>pad</span></h2>
				<!-- <a href="/auth/facebook/">Auth</a> -->
			</div>
			<div class="title-options">
				<div class="icon private-icon pad-settings"></div>
				<div class="icon chaton-icon"></div>
				<div class="icon trash-icon"></div>
			</div>
		</div>
		<div class="pad-wrapper">
			<div id="editor" class="pad-area" placeholder="Start typing here!"></div>
		</div>
		<textarea class="main" style="display:none;" id="pusherContentEditable"></textarea>
	</div> <!-- main text area -->

	<div class="right">
		<div class="chat-title">
			<p><span>chat</span></p>
		</div>
    <div id="messages"></div>

    <div class="submit-wrapper">
	    <div class="submit-area">
		    <form action="" class="madpadChatForm">
		    	<textarea id="m" autocomplete="off" class="message-input" placeholder="Send a message..."></textarea>
		    </form>
	    </div>
    </div>
	</div> <!-- chat -->

</div>
<script>
var madpadSocket = io();
var padName = 'text_{{id}}';

var user = '{{username}}';
if(user) padName = user + '_' + padName;

var padData = {
}

var options = {authentication: '{{user._id}}'};

madpadSocket.emit('room', padName);

$(function(){
	var pad = document.getElementById('pusherContentEditable');

	var theSharing = sharejs.open(padName, 'text', options, function(error, doc) {
		window.doc = doc;
		doc.attach_editable(pad);
	});

});
</script>
<script>

	var letterArray = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"];
	var letter = letterArray[Math.floor(Math.random() * letterArray.length)];

	var colorArray = ["#be3333", "#be336e", "#be339f", "#ac33be", "#7e33be", "#4d33be", "#334dbe", "#3385be", "#33acbe", "#33beaf", "#33be85", "#33be47", "#78be33", "#9cbe33", "#bcbe33", "#be9f33", "#be7b33", "#be5733"];
	var color = colorArray[Math.floor(Math.random() * colorArray.length)];

	var animalArray = ["panda", "tiger", "cheetah", "gorilla", "monkey", "robin", "toucan", "elephant", "chimp", "sheep", "rooster", "dog", "cow", "chicken", "rabbit", "pig", "horse", "duck", "parrot", "mouse", "puppy", "cat", "lynx", "hamster", "ferret", "warthog", "wolf", "eagle", "owl", "bear", "hedgehog", "fox", "moose", "squirrel"];
	var animal = animalArray[Math.floor(Math.random() * animalArray.length)];

	$('.madpadChatForm').submit(function(){
		var messageValue = $('#m').val();
		if(messageValue == '') return false;
		var imageUrl = "";
		var userId = "";
		var facebookID = '{{user.facebookID}}';
		var githubID = '{{user.githubID}}';

		var facebookAuth = false;
		var githubAuth = false;

		if(facebookID && githubID){
			var facebookDate = new Date('{{user.facebookDate}}');
			var githubDate = new Date('{{user.githubDate}}');
			console.log(githubID);
			if(facebookDate > githubDate){
				facebookAuth = true;
			}
			else{
				githubAuth = true;
			}

		}
		else if(facebookID){
			facebookAuth = true;
		}
		else if(githubID){
			githubAuth = true;
		}
		if(facebookAuth){
			userId = facebookID;
			name = '{{user.facebookName}}';
			imageUrl = '{{user.facebookPicture}}';
		}
		if(githubAuth){
			userId = githubID;
			name = '{{user.githubName}}';
			imageUrl = '{{user.githubPicture}}';			
		}
		var messageObject = {'room': padName, 'name': name, 'picture': imageUrl, 'message': messageValue, 'profileId': userId};

		if(messageObject.profileId == ""){
			messageObject.picture = {'letter': letter, 'color': color, 'animal': animal};
		}

		madpadSocket.emit('chat', messageObject);
		$('#m').val('');
		messageObject.name = "me";
		madpadChat.appendChat(messageObject);
		return false;
	});

	madpadSocket.on('newMessage', function(msg){
		madpadChat.appendChat(msg);
	});

</script>