<paper-button lavel="flat button"></paper-button>
<textarea class="main" id="editor"></textarea>
<button>CURRENT SNAPSHOT</button>
<script>
var elem = document.getElementById('editor');

sharejs.open('{{id}}', 'text', function(error, doc) {
	window.doc = doc;
	doc.attach_textarea(elem);

	// Get the contents of the document for some reason:
	$('button').on("click", function(){

	});

	doc.on('change', function(op) {
		console.log(op[0]);
		console.log('Version: ' + doc.version);
	});
});
</script>

