
<div class="madpad-container minwidth">
	<section class="new-pad btn btn-1e">
		<a href="#"><img src="/images/sidebar/new@2x.png">New Pad</a>
	</section> <!-- new pad button -->
	<div class="left">
		<div class="offset"></div>
		<section class="user-pads pad-list pad-hover">
			<h5>Adventjex</h5>
			<ul>
				<a href="#"><li>iOS</li></a>
				<a href="#"><li>Nodejs</li></a>
				<a href="#"><li>Sanjose</li></a>
				<a href="#"><li>Gameofthrones</li></a>
				<a href="#" class="active"><li>Aprcode1</li></a>
				<a href="#"><li>test</li></a>
			</ul>
		</section> <!-- user's pads -->
		<section class="shared-pads pad-list pad-hover">
			<h5>Shared Pads</h5>
			<ul>
				<a href="#"><li>apr</li></a>
				<a href="#"><li>wedding</li></a>
				<a href="#"><li>designux</li></a>
				<a href="#"><li>hiking</li></a>
				<a href="#"><li>feast</li></a>
			</ul>
		</section> <!-- shared pads -->
		<section class="public-pads pad-list pad-hover">
			<h5>Public Pads</h5>
			<ul>
				<a href="#"><li>doge</li></a>
				<a href="#"><li>reddit</li></a>
				<a href="#"><li>bitcoins</li></a>
				<a href="#"><li>facebook</li></a>
				<a href="#"><li>netflix</li></a>
				<a href="#"><li>okay</li></a>
			</ul>
		</section> <!-- public pads -->
	</div>

	<div class="new-pad-area">
		<div class="input-area">
			<div class="pad-name">
				<div class="name-input">
					<input type="text" placeholder="Enter pad name here..." id="create-input" class="input" />
					<div class="underline"></div>
				</div> <!-- place to enter new pad's name -->
			</div>
			<br/>
			<button class="green-btn">CREATE PAD</button>
		</div> <!--  white area of creating a new pad -->
		<div class="pad-options">
			<div class="pad-type">
				<div class="text-pad active-type">
					<a>Text Pad</a>
				</div>
				<div class="code-pad inactive-type">
					<a>Code Pad</a>
				</div>
			</div> <!-- Tabs for the new pad -->
			<div class="pad-description">
				<img src="/images/newpad/text-icon.png" class="icon" />
				<p class="type-title">Create a new text document</p>
				<p class="type-more">Your text pad is a fully editable document pad.</p>
			</div>
			<div class="pad-description">
				<img src="/images/newpad/code-icon.png" class="icon" />
				<p class="type-title">Create a new code document</p>
				<p class="type-more">Your code pad is a text editor for code.</p>
			</div>
		</div>
	</div> <!-- create a new pad area -->

	<div class="middle">
		<div class="darken"></div>
		<div class="title">
			<div class="pad-name">
				<h2>Aprcode1</h2>
			</div>
		</div>
		<div class="pad-wrapper">
			<textarea class="pad-area" placeholder="Start typing here!"></textarea>
		</div>
	</div> <!-- main text area -->

	<div class="right" style="background-color: #ddd;">
		<div class="darken"></div>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
	</div> <!-- chat -->

</div>
<script>
  var socket = io();
  $('form').submit(function(){
    socket.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
  });
  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });
</script>

