/*   ---    Mobile Less  --   */
/*   ---   CSS Reset   --   */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  padding: 0 0;
  box-sizing: border-box;
  outline: none;
}
* {
  box-sizing: border-box;
}
img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/*   ---   End of CSS Reset   --   */
/*   ---   All Mobile LESS   ---   */
.mobile {
  /*   ---   Global Mobile LESS   ---   */
  /*   ---   End of Global LESS   ---   */
  /*   ---   Mobile Header   --   */
  /*   ---   End of Mobile Header   --   */
  /*   ---   Pad Content   --   */
  /*   ---   End of Pad Content   --   */
  /*   ---   Chat Content   --   */
  /*   ---   End of Chat Content   --   */
  /*   ---    Mobile Pad Sharing Settings  --   */
  /*   ---    End of Mobile Pad Sharing Settings  --   */
  /*   ---    List of Pads  --   */
  /*   ---   End of Pad List   --   */
  /*   ---   User/Shared/Public Pads  --   */
  /*   ---    List of Pads  --   */
  /*   ---    Login  --   */
  /*   ---    End of Login  --   */
  /*   ---   End of Choose Username CSS   --   */
  /*   ---   Account User CSS   --   */
  /*   ---   End of Account User CSS   --   */
}
.mobile h1,
.mobile h2,
.mobile h3,
.mobile h4,
.mobile h5,
.mobile h6,
.mobile p,
.mobile a,
.mobile span,
.mobile input,
.mobile button,
.mobile body,
.mobile textarea {
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.mobile .m-padding {
  padding: 0px 10px;
}
.mobile .m-offset {
  height: 92px;
  width: 100%;
}
.mobile .green-btn {
  background-color: #33bea8;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mobile .green-btn:hover {
  background-color: #3bd9be;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.mobile .cancel-btn {
  background-color: #dddddd;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mobile .cancel-btn:hover {
  background-color: #eaeaea;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.mobile .red-btn {
  background-color: #cd7155;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 2px;
}
.mobile .red-btn:hover {
  background-color: #e57e5e;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.mobile .m-header {
  width: 100%;
  height: 50px;
  background: #232c30;
  position: absolute;
  z-index: 1902;
  /* left side */
}
.mobile .m-header .left-header {
  float: left;
  height: 50px;
}
.mobile .m-header .left-header .hamburger {
  float: left;
  margin-right: 10px;
}
.mobile .m-header .left-header .hamburger img {
  position: relative;
  top: 15px;
  width: 20px;
}
.mobile .m-header .left-header .logo {
  float: left;
}
.mobile .m-header .left-header .logo img {
  position: relative;
  top: 13px;
  width: 24px;
}
.mobile .m-header .right-header {
  float: right;
  height: 50px;
}
.mobile .m-header .right-header .m-icons {
  position: relative;
  top: 15px;
  float: left;
  padding: 0px 10px;
  width: 40px;
  height: 20px;
}
.mobile .m-header .right-header .m-icons img {
  width: 20px;
}
.mobile .m-tabs {
  position: absolute;
  margin-top: 50px;
  width: 100%;
  height: 40px;
  background: #f4f6f9;
  overflow: hidden;
  z-index: 1900;
}
.mobile .m-tabs .tab {
  width: 33.33333333333%;
  float: left;
  position: relative;
  top: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
.mobile .m-tabs .tab p {
  position: relative;
  top: 0px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 33px;
  text-transform: uppercase;
  color: #4b555d;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mobile .m-tabs .active {
  border-bottom: 3px solid #33bea8;
}
.mobile .m-tabs .active p {
  color: #33bea8;
}
.mobile .tab-shadow {
  position: absolute;
  width: 100%;
  height: 2px;
  margin-top: 90px;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #efefef;
  opacity: 0.8;
  z-index: 1900;
}
.mobile .m-content {
  overflow: hidden;
}
.mobile .froala-box .froala-editor {
  display: none;
}
.mobile .froala-box .froala-element {
  border: 1px solid #eaeaea;
  margin: 10px 10px;
  font-size: 80%;
}
.mobile #editor-code {
  background: #ffffff;
  position: relative;
  border: 1px solid #dddddd;
  font-size: 12px;
  line-height: 18px;
  clear: both;
}
.mobile #editor-code .ace_sb {
  overflow-y: auto;
}
.mobile #editor-code .ace_scroller {
  overflow-x: auto;
}
.mobile #editor-code .ace_gutter-cell {
  padding: 0px 20px;
  text-align: center;
}
.mobile #editor-code .ace_fold {
  background-image: url("/images/main/dots.png");
  background-size: 19px 7px;
  border: none;
}
.mobile #editor-code .ace_error {
  background-image: url("/images/main/error.png");
  background-size: 8px 8px;
  background-position: 8px center;
}
.mobile #editor-code .ace_gutter-cell.ace_info {
  background-image: none;
}
.mobile #editor-code .ace_line span {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}
.mobile .chat {
  background: #f9f9f9;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid #eaeaea;
  /* chat title */
  /* user message styles */
  /* other user message style */
  /* submit area */
}
.mobile .chat .num-users {
  text-align: center;
  background: #eaeaea;
  border-bottom: 1px solid #dddddd;
  height: 30px;
}
.mobile .chat .num-users p {
  font-size: 12px;
  color: #4b555d;
  line-height: 30px;
}
.mobile .chat .chat-avatar {
  background-image: url('/images/chat/animals/chicken.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #33bea8;
  background-size: 44px 44px;
}
.mobile .chat .chat-title {
  border-bottom: 1px solid #dddddd;
  background: #eaeaea;
  height: 50px;
}
.mobile .chat .chat-title .avatar-list {
  position: relative;
  max-width: 280px;
  top: 10px;
  padding: 0px 10px;
}
.mobile .chat .chat-title .avatar-list li {
  float: left;
  margin-right: 10px;
}
.mobile .chat .chat-title .avatar-list li:hover {
  cursor: pointer;
}
.mobile .chat .chat-title .avatar-list li p {
  font-size: 12px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #eaeaea;
  background: #ffffff;
  padding: 0px 10px;
  border-radius: 20px;
}
.mobile .chat .chat-title .avatar-user {
  background-size: cover;
  background: #ffffff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
}
.mobile .chat .chat-title .avatar-owner {
  border: 2px solid #5dbff1;
}
.mobile .chat #messages {
  padding: 10px 10px;
  overflow-y: auto;
  font-size: 12px;
  font-weight: 300;
  background: #eaeaea;
  color: #232c30;
}
.mobile .chat #messages .content {
  max-width: 194px;
  min-width: 100px;
  word-wrap: break-word;
  border-radius: 4px;
  padding: 10px 10px;
  margin-bottom: 20px;
}
.mobile .chat .user {
  width: 100%;
  overflow: hidden;
}
.mobile .chat .user .avatar {
  float: right;
  margin-left: 10px;
}
.mobile .chat .user .content {
  float: left;
  background: #ffffff;
  margin-right: 5px;
}
.mobile .chat .user .message-area {
  float: right;
  background: url('/images/mobile/arrow-right.png') no-repeat;
  background-size: 12px 20px;
  background-position: right 52px top 10px;
}
.mobile .chat .user .name {
  font-size: 12px;
  color: #9ea5ab;
  margin-top: 10px;
}
.mobile .chat .other-user {
  width: 100%;
  overflow: hidden;
}
.mobile .chat .other-user .avatar {
  float: left;
  margin-right: 10px;
}
.mobile .chat .other-user .content {
  float: right;
  background: #c2e2f2;
  margin-left: 5px;
}
.mobile .chat .other-user .message-area {
  float: left;
  background: url('/images/mobile/arrow-left.png') no-repeat;
  background-size: 12px 20px;
  background-position: left 52px top 10px;
}
.mobile .chat .other-user .name {
  font-size: 12px;
  color: #4b555d;
  margin-top: 10px;
}
.mobile .chat .avatar {
  background-size: cover;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
}
.mobile .chat .submit-wrapper {
  width: 100%;
  height: 70px;
  position: relative;
  bottom: 0;
  background: #f9f9f9;
}
.mobile .chat .submit-area {
  width: 100%;
  background: #f9f9f9;
  padding: 15px 15px;
  border-top: 1px solid #dddddd;
}
.mobile .chat .submit-area .m-message {
  float: left;
  width: 70%;
}
.mobile .chat .submit-area .message-input {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  font-size: 12px;
  outline: none;
  resize: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.mobile .chat .submit-area .m-submit {
  float: right;
  width: 27%;
}
.mobile .chat .submit-area .submit-button {
  width: 100%;
  height: 40px;
  background: #33bea8;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.mobile .sharing-settings {
  width: 100%;
  padding: 20px 20px;
  border-bottom: 1px solid #eaeaea;
}
.mobile .sharing-settings .modal-confirm {
  margin-top: 20px;
  height: 40px;
  overflow: hidden;
}
.mobile .sharing-settings .modal-confirm button {
  width: 100%;
  height: 40px;
  background: #33bea8;
  color: #ffffff;
  font-size: 14px;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.mobile .sharing-settings .list-settings .radio {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #4b555d;
  padding: 4px 4px;
  float: left;
  position: relative;
  top: 8px;
  margin-right: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.mobile .sharing-settings .list-settings .radio:hover {
  cursor: pointer;
}
.mobile .sharing-settings .list-settings .radio-on {
  background-color: #5dbff1;
}
.mobile .sharing-settings .list-settings .radio-off {
  background-color: #ffffff;
}
.mobile .sharing-settings .list-settings .setting-icons {
  width: 30px;
  height: 30px;
  padding: 6px 6px;
  background: #f9f9f9;
  border: 1px solid #eaeaea;
  float: left;
  margin-right: 10px;
}
.mobile .sharing-settings .list-settings .settings {
  margin-bottom: 30px;
  margin-top: 0px;
}
.mobile .sharing-settings .list-settings .setting-text .large {
  color: #232c30;
  margin-bottom: 5px;
  line-height: 30px;
}
.mobile .social-media {
  padding: 0px 20px;
}
.mobile .social-media .row {
  overflow: hidden;
  margin-top: 15px;
}
.mobile .social-media .col {
  float: left;
  width: 50%;
}
.mobile .social-media .social-icon {
  margin: 0 auto;
}
.mobile .social-media .social-icon img {
  width: 60px;
  display: block;
  margin: 0 auto;
}
.mobile .social-media .social-icon p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #dddddd;
}
.mobile .x-modal {
  float: left;
  position: absolute;
  padding: 10px 10px;
}
.mobile .x-modal img {
  width: 20px;
}
.mobile .pad-list-modal {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: #363e44;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mobile .pad-list-modal .pad-title {
  clear: both;
  text-align: center;
  margin-top: 20px;
}
.mobile .pad-list-modal .pad-title p {
  color: #ffffff;
  font-size: 20px;
}
.mobile .overlay-close {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}
.mobile .overlay-open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}
.mobile .pad-list {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #363e44;
}
.mobile .pad-list h5 {
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  background-color: #363e44;
}
.mobile .pad-list li {
  background-color: #363e44;
  overflow: hidden;
  clear: both;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.mobile .pad-list li .favorite {
  background: url('/images/main/favorite-icon.png') no-repeat center center;
  background-size: 12px 12px;
  width: 12px;
  height: 50px;
  float: left;
  margin-left: 0px;
  position: relative;
  left: 30px;
  margin-right: 10px;
}
.mobile .pad-list li .pad-heart-x {
  line-height: 50px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.mobile .pad-list li .pad-heart-x span {
  float: right;
}
.mobile .pad-list li .pad-heart-x .delete {
  background: url('/images/main/small-x.png') no-repeat center center;
  background-size: 12px 12px;
  width: 12px;
  height: 50px;
  padding: 0px 20px 0px 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.mobile .pad-list li .pad-heart-x .delete:hover {
  background: url('/images/main/small-x-hover.png') no-repeat center center;
  background-size: 12px 12px;
  width: 12px;
  height: 50px;
}
.mobile .pad-list a {
  display: block;
  width: 198px;
  float: left;
  height: 50px;
  line-height: 50px;
  padding: 0px 0px 0px 30px;
  color: #9ea5ab;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mobile .pad-list .active {
  color: #33bea8;
  background-color: #232c30;
}
.mobile .user-pads h5 {
  color: #f1cf5d;
}
.mobile .shared-pads h5 {
  color: #5dbff1;
}
.mobile .public-pads {
  margin-bottom: 0px;
}
.mobile .public-pads h5 {
  color: #cd7155;
}
.mobile .m-account-modal {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mobile .m-account-modal .logo {
  position: relative;
  top: 50px;
}
.mobile .m-account-modal .logo .account-logo {
  display: block;
  width: 100px;
  margin: 0 auto;
}
.mobile .m-account-modal .account-content {
  position: absolute;
  margin-top: 50px;
  bottom: 20px;
  left: 50%;
  margin-left: -125px;
}
.mobile .m-account-modal .account-content h6 {
  color: #636d75;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.mobile .m-account-modal .account-content p {
  color: #9ea5ab;
  text-align: center;
}
.mobile .m-account-modal .account-content p a {
  color: #5dbff1;
}
.mobile .m-account-modal .account-content .fb-login {
  background: #3b5997;
}
.mobile .m-account-modal .account-content .github-login {
  background: #232c30;
}
.mobile .m-account-modal .account-content .social-login {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 250px;
}
.mobile .m-account-modal .account-content .social-login img {
  width: 30px;
  display: block;
  margin: 0 auto;
}
.mobile .m-account-modal .account-content .social-login a {
  display: block;
  padding: 10px 0px;
}
.mobile .signup-step-wrapper {
  height: 100%;
  background: #f9f9f9;
}
.mobile .signup-step-wrapper .fb-signup-img {
  display: block;
  width: 100px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  margin: 0 auto 40px auto;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.mobile .signup-step-wrapper .username-wrapper {
  position: relative;
  top: 50px;
}
.mobile .signup-step-wrapper .username-wrapper h1 {
  font-size: 20px;
  line-height: 30px;
  padding: 0px 20px;
  color: #5dbff1;
  text-align: center;
  margin-bottom: 40px;
}
.mobile .signup-step-wrapper .username-wrapper .username-form {
  width: 300px;
  margin: 0 auto;
}
.mobile .signup-step-wrapper .username-wrapper .username-input {
  width: 100%;
  height: 50px;
  padding: 10px 10px;
  background: #ffffff;
  font-size: 16px;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
}
.mobile .signup-step-wrapper .username-wrapper .username-submit {
  width: 100%;
  height: 50px;
}
.mobile .avatar-header {
  border-radius: 50%;
}
.mobile .mobile-dropdown {
  position: absolute;
  background: #363e44;
  width: 200px;
  right: 0px;
  top: 35px;
}
.mobile .mobile-dropdown li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 15px 15px;
  width: 200px;
  height: 46px;
}
.mobile .mobile-dropdown li a .help-icon {
  background: url('/images/header/help-icon.png') no-repeat center center;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
}
.mobile .mobile-dropdown li a .logout-icon {
  background: url('/images/header/logout-icon.png') no-repeat center center;
  background-size: 16px 16px;
}
.mobile .mobile-dropdown li a img {
  height: 16px;
  float: left;
  margin-right: 10px;
}
.mobile .mobile-dropdown li .username {
  background: #4b555d;
}
.mobile .mobile-dropdown li .username img {
  float: left;
  margin-right: 5px;
  margin-top: -2px;
}
/*   ---   End of All Mobile LESS   ---   */
