/*   ---    Mobile Less  --   */
/*   ---   CSS Reset   --   */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  padding: 0 0;
  box-sizing: border-box;
  outline: none;
}
* {
  box-sizing: border-box;
}
img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/*   ---   End of CSS Reset   --   */
/*   ---   All Mobile LESS   ---   */
.mobile {
  /*   ---   Global Mobile LESS   ---   */
  /*   ---   End of Global LESS   ---   */
  /*   ---   Mobile Header   --   */
  /*   ---   End of Mobile Header   --   */
  /*   ---   Pad Content   --   */
  /*   ---   End of Pad Content   --   */
  /*   ---   Chat Content   --   */
  /*   ---   Chat Bar General   --   */
  /*   ---   End of Chat Bar General   --   */
  /*   ---   End of Chat Content   --   */
}
.mobile h1,
.mobile h2,
.mobile h3,
.mobile h4,
.mobile h5,
.mobile h6,
.mobile p,
.mobile a,
.mobile span,
.mobile input,
.mobile button,
.mobile body,
.mobile textarea {
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.mobile .m-padding {
  padding: 0px 10px;
}
.mobile .m-offset {
  height: 92px;
  width: 100%;
}
.mobile .m-header {
  width: 100%;
  height: 50px;
  background: #232c30;
  position: absolute;
  z-index: 9999;
  /* left side */
}
.mobile .m-header .left-header {
  float: left;
  height: 50px;
}
.mobile .m-header .left-header .hamburger {
  float: left;
  margin-right: 10px;
}
.mobile .m-header .left-header .hamburger img {
  position: relative;
  top: 15px;
  width: 20px;
}
.mobile .m-header .left-header .logo {
  float: left;
}
.mobile .m-header .left-header .logo img {
  position: relative;
  top: 13px;
  width: 24px;
}
.mobile .m-header .right-header {
  float: right;
  height: 50px;
}
.mobile .m-header .right-header .m-icons {
  position: relative;
  top: 15px;
  float: left;
  padding: 0px 10px;
  width: 40px;
  height: 20px;
}
.mobile .m-header .right-header .m-icons img {
  width: 20px;
}
.mobile .m-header .right-header .m-account {
  border-radius: 50%;
}
.mobile .m-header .right-header .m-account img {
  border-radius: 50%;
}
.mobile .m-tabs {
  position: absolute;
  margin-top: 50px;
  width: 100%;
  height: 40px;
  background: #f4f6f9;
  overflow: hidden;
  z-index: 9999;
}
.mobile .m-tabs .tab {
  width: 33.33333333333%;
  float: left;
  position: relative;
  top: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
.mobile .m-tabs .tab p {
  position: relative;
  top: 0px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 33px;
  text-transform: uppercase;
  color: #4b555d;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mobile .m-tabs .active {
  border-bottom: 3px solid #33bea8;
}
.mobile .m-tabs .active p {
  color: #33bea8;
}
.mobile .tab-shadow {
  position: absolute;
  width: 100%;
  height: 2px;
  margin-top: 90px;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #efefef;
  opacity: 0.8;
  z-index: 9999;
}
.mobile .froala-box .froala-editor {
  display: none;
}
.mobile .froala-box .froala-element {
  border: 1px solid #eaeaea;
  margin: 10px 10px;
  font-size: 80%;
}
.mobile .chat {
  background: #f9f9f9;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid #eaeaea;
  /* chat title */
  /* user message styles */
  /* other user message style */
  /* submit area */
}
.mobile .chat .num-users {
  text-align: center;
  background: #eaeaea;
  border-bottom: 1px solid #dddddd;
  height: 30px;
}
.mobile .chat .num-users p {
  font-size: 12px;
  color: #4b555d;
  line-height: 30px;
}
.mobile .chat .chat-avatar {
  background-image: url('/images/chat/animals/chicken.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #33bea8;
  background-size: 44px 44px;
}
.mobile .chat .chat-title {
  border-bottom: 1px solid #dddddd;
  background: #eaeaea;
  height: 50px;
}
.mobile .chat .chat-title .avatar-list {
  position: relative;
  max-width: 280px;
  top: 10px;
  padding: 0px 10px;
}
.mobile .chat .chat-title .avatar-list li {
  float: left;
  margin-right: 10px;
}
.mobile .chat .chat-title .avatar-list li:hover {
  cursor: pointer;
}
.mobile .chat .chat-title .avatar-list li p {
  font-size: 12px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #eaeaea;
  background: #ffffff;
  padding: 0px 10px;
  border-radius: 20px;
}
.mobile .chat .chat-title .avatar-user {
  background-size: cover;
  background: #ffffff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
}
.mobile .chat .chat-title .avatar-owner {
  border: 2px solid #5dbff1;
}
.mobile .chat #messages {
  padding: 10px 10px;
  overflow-y: auto;
  font-size: 12px;
  font-weight: 300;
  background: #eaeaea;
  color: #232c30;
}
.mobile .chat #messages .content {
  max-width: 194px;
  min-width: 100px;
  word-wrap: break-word;
  border-radius: 4px;
  padding: 10px 10px;
  margin-bottom: 20px;
}
.mobile .chat .user {
  width: 100%;
  overflow: hidden;
}
.mobile .chat .user .avatar {
  float: right;
  margin-left: 10px;
}
.mobile .chat .user .content {
  float: left;
  background: #ffffff;
  margin-right: 5px;
}
.mobile .chat .user .message-area {
  float: right;
  background: url('/images/mobile/arrow-right.png') no-repeat;
  background-size: 12px 20px;
  background-position: right 52px top 10px;
}
.mobile .chat .user .name {
  font-size: 12px;
  color: #9ea5ab;
  margin-top: 10px;
}
.mobile .chat .other-user {
  width: 100%;
  overflow: hidden;
}
.mobile .chat .other-user .avatar {
  float: left;
  margin-right: 10px;
}
.mobile .chat .other-user .content {
  float: right;
  background: #c2e2f2;
  margin-left: 5px;
}
.mobile .chat .other-user .message-area {
  float: left;
  background: url('/images/mobile/arrow-left.png') no-repeat;
  background-size: 12px 20px;
  background-position: left 52px top 10px;
}
.mobile .chat .other-user .name {
  font-size: 12px;
  color: #4b555d;
  margin-top: 10px;
}
.mobile .chat .avatar {
  background-size: cover;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
}
.mobile .chat .submit-wrapper {
  width: 100%;
  height: 70px;
  position: relative;
  bottom: 0;
  background: #f9f9f9;
}
.mobile .chat .submit-area {
  width: 100%;
  background: #f9f9f9;
  padding: 15px 15px;
  border-top: 1px solid #dddddd;
}
.mobile .chat .submit-area .m-message {
  float: left;
  width: 70%;
}
.mobile .chat .submit-area .message-input {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  font-size: 12px;
  outline: none;
  resize: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.mobile .chat .submit-area .m-submit {
  float: right;
  width: 27%;
}
.mobile .chat .submit-area .submit-button {
  width: 100%;
  height: 40px;
  background: #33bea8;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
/*   ---   End of All Mobile LESS   ---   */
