body,h1,h2,h3,h4,h5,h6{
 font-family: 'Droid Sans Mono', sans-serif;
}
body{
	background: black;
	font-size: 16px;
}
.main{
	border-radius: 4px;
	padding: 15px;
	width: 100%;
	min-height: 400px;
	border: 1px solid #62d9ef;
	background: #222222;
	color: #62d9ef;
	resize: none;
	overflow: auto;
}