/* Import all of my styles */
/*   ---   Global Less   --   */
/*   ---   CSS Reset   --   */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  padding: 0 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/*   ---   End of CSS Reset   --   */
/*   ---   Header   --   */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
input,
button,
body,
textarea {
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
a:hover {
  text-decoration: none;
}
.header {
  background: #232c30;
  height: 70px;
  width: 100%;
  z-index: 1500;
}
.header .logo-container {
  float: left;
  position: relative;
  top: 50%;
  z-index: 1500;
}
.header .logo-container img {
  width: 124px;
  position: relative;
  margin-top: -50%;
}
.header .menu-container {
  float: right;
  position: relative;
  top: 17px;
  z-index: 1500;
}
.header .menu-container li {
  float: left;
}
.header .menu-container a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  outline: 0;
}
.header .menu-container a:hover {
  color: #33bea8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.sides {
  padding: 0px 20px;
}
/*   ---   End of Header   --   */
/*   ---   Random CSS   --   */
.madpad-container {
  overflow-x: hidden;
}
.minwidth {
  min-width: 1050px;
}
.underline {
  position: relative;
  height: 6px;
  border: 2px solid #33bea8;
  border-top: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.green-btn {
  background-color: #33bea8;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 2px;
}
.green-btn:hover {
  background-color: #3bd9be;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.cancel-btn {
  background-color: #dddddd;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 2px;
}
.cancel-btn:hover {
  background-color: #eaeaea;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.red-btn {
  background-color: #cd7155;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 2px;
}
.red-btn:hover {
  background-color: #e57e5e;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.darken {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232c30;
  opacity: 0.8;
  z-index: 1200;
  display: none;
}
.overlay-close {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.overlay-open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
/*   ---   End of Random CSS   --   */
/*   ---   Account Modal   --   */
.account {
  background-color: rgba(255, 255, 255, 0.98);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2000;
}
.account .modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.account .modal-close img {
  width: 49px;
  padding: 10px 10px;
}
.account .modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
}
.account .modal-content h6 {
  font-size: 48px;
  color: #636d75;
  margin-bottom: 30px;
}
.account .modal-content p {
  font-size: 14px;
  color: #777777;
  margin-bottom: 30px;
}
.account .modal-content p a {
  color: #5dbff1;
  text-decoration: none;
}
.account .social-icons {
  width: 360px;
  height: 170px;
  margin: 0 auto;
}
.account .social-icons a {
  display: block;
}
.account .social-icons img {
  width: 170px;
}
.account .social-icons img:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.account .social-icons .facebook-icon {
  float: left;
}
.account .social-icons .github-icon {
  float: right;
}
.account .social-type {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  margin-top: 30px;
  text-align: center;
}
.account .social-type p {
  color: #dddddd;
  font-size: 24px;
}
/*   ---   End of Account Modal   --   */
/*   ---   Status CSS   --   */
.status {
  position: absolute;
  width: 100%;
  height: 70px;
  background: rgba(93, 191, 241, 0.95);
  text-align: center;
  z-index: 2000;
  display: none;
}
.status p {
  color: #ffffff;
  line-height: 70px;
  font-size: 18px;
}
#login-content {
  margin-top: -161px;
  margin-left: -204.5px;
}
#signup-content {
  margin-top: -161px;
  margin-left: -231.5px;
}
/*   ---   End of Status CSS   --   */
/*   ---   Choose Username CSS   --   */
.signup-step-wrapper {
  height: 100%;
  background: #f9f9f9;
}
.signup-step-wrapper .fb-signup-img {
  display: block;
  width: 100px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  margin: 0 auto 40px auto;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.signup-step-wrapper .username-wrapper {
  position: relative;
  top: 150px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
}
.signup-step-wrapper .username-wrapper h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.signup-step-wrapper .username-wrapper .username-form {
  width: 300px;
  margin: 0 auto;
}
.signup-step-wrapper .username-wrapper .username-input {
  width: 100%;
  height: 50px;
  padding: 10px 10px;
  background: #ffffff;
  font-size: 16px;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
}
.signup-step-wrapper .username-wrapper .username-submit {
  width: 100%;
  height: 50px;
  padding: 10px 10px;
  background: #33bea8;
  font-size: 16px;
  color: #ffffff;
  border: none;
}
/*   ---   End of Choose Username CSS   --   */
/*   ---   End of Global Less   --   */
/*   ---   Side Bar General   --   */
.left {
  width: 250px;
  min-height: 500px;
  float: left;
  background-color: #363e44;
  overflow: hidden;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 1300;
}
.left .offset {
  height: 50px;
}
.left .all-pads {
  overflow-y: auto;
  overflow-x: hidden;
}
/*   ---   End of Side Bar General   --   */
/*   ---   New Pad   --   */
.new-pad {
  width: 250px;
  height: 50px;
  background-color: #33bea8;
  position: absolute;
  z-index: 1400;
}
.new-pad a {
  display: block;
  line-height: 50px;
  color: #ffffff;
  padding: 0px 20px;
  text-decoration: none;
}
.new-pad img {
  width: 20px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}
.new-pad-active {
  -webkit-box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 1s;
  -webkit-transition: 1s;
}
/*   ---   End of New Pad   --   */
/*   ---   Pad List   --   */
.pad-list {
  margin-bottom: 30px;
  background-color: #363e44;
}
.pad-list ul {
  background: transparent;
}
.pad-list h5 {
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  background-color: #363e44;
}
.pad-list a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  color: #9ea5ab;
  background-color: #363e44;
  text-decoration: none;
}
.pad-list .active {
  color: #33bea8;
  background-color: #232c30;
}
/*   ---   End of Pad List   --   */
/*   ---   User/Shared/Public Pads  --   */
.user-pads h5 {
  color: #f1cf5d;
}
.shared-pads h5 {
  color: #5dbff1;
}
.public-pads h5 {
  color: #cd7155;
}
/*   ---  End of User/Shared/Public Pads  --   */
/*   ---   Pad Hover Component  --   */
.pad-hover {
  background-color: #33bea8;
}
.pad-hover a {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.pad-hover a:hover,
.pad-hover a::after {
  -webkit-transform: translateX(6px);
  transform: translateX(6px);
  background-color: #4b555d;
  color: #ffffff;
  -webkit-box-shadow: -4px 0px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -4px 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: -4px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.pad-hover a::after {
  left: 100%;
  z-index: -2;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  pointer-events: auto;
}
.pad-hover a:hover::after,
.pad-hover a:focus::after {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/*   ---   End of Pad Hover Component  --   */
/*   ---   New Pad Hover Component  --   */
/* General button style (reset) */
.btn {
  cursor: pointer;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  border-radius: 0px;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
/* Button 1e */
.btn-1e {
  overflow: hidden;
}
.btn-1e:after {
  width: 100%;
  height: 0;
  opacity: 0;
  left: 50%;
  top: 50%;
  background: #3bd9be;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(10deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(10deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(10deg);
  transform: translateX(-50%) translateY(-50%) rotate(10deg);
}
.btn-1e:hover,
.btn-1e:active {
  color: #0e83cd;
}
.btn-1e:hover:after {
  height: 260%;
  width: 150%;
  opacity: 1;
}
.btn-1e:active:after {
  height: 400%;
  opacity: 1;
}
/*   ---   End of New Pad Hover Component  --   */
/*   ---   Overlay Animation Component  --   */
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
/*   ---   Overlay Animation Component  --   */
/*   ---   Chat Bar General   --   */
.right {
  width: 300px;
  min-height: 500px;
  float: right;
  background: #f9f9f9;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid #eaeaea;
  /* chat title */
  /* user message styles */
  /* other user message style */
  /* submit area */
}
.right .chat-title {
  border-bottom: 1px solid #eaeaea;
  background: #f9f9f9;
  height: 50px;
}
.right .chat-title p {
  text-align: center;
  color: #232c30;
  line-height: 50px;
  font-size: 18px;
}
.right .chat-title p span {
  color: #4b555d;
  font-size: 14px;
  font-weight: bold;
}
.right #messages {
  padding: 10px 10px;
  overflow-y: auto;
  font-size: 12px;
  font-weight: 300;
  color: #232c30;
}
.right #messages .content {
  max-width: 194px;
  min-width: 100px;
  word-wrap: break-word;
  background: #ffffff;
  border-radius: 4px;
  padding: 10px 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.right #messages .content:hover {
  background: #f4f6f9;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.right .user {
  width: 100%;
}
.right .user .avatar {
  float: right;
  margin-left: 10px;
}
.right .user .content {
  float: left;
}
.right .user .message-area {
  float: right;
}
.right .other-user {
  width: 100%;
}
.right .other-user .avatar {
  float: left;
  margin-right: 10px;
}
.right .other-user .content {
  float: right;
}
.right .other-user .message-area {
  float: left;
}
.right .avatar {
  background-size: cover;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
}
.right .name {
  font-size: 12px;
  color: #9ea5ab;
  margin-top: 10px;
}
.right .submit-wrapper {
  width: 299px;
  height: 79px;
  position: absolute;
  bottom: 0;
}
.right .submit-area {
  width: 300px;
  background: #f9f9f9;
  padding: 15px 15px;
  border-top: 1px solid #dddddd;
}
.right .submit-area .message-input {
  width: 100%;
  height: 46px;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  font-size: 12px;
  outline: none;
  resize: none;
}
.right .submit-area button {
  float: right;
  margin-top: 10px;
}
/*   ---   End of Chat Bar General   --   */
/*   ---   Main Area General   --   */
.middle {
  min-width: 500px;
  min-height: 500px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 250px;
  margin-right: 300px;
}
.middle .pad-wrapper {
  background-color: #f9f9f9;
  padding: 40px 40px;
  min-height: 500px;
}
.middle .editor-active {
  border: 1px solid #ffffff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}
.middle .froala-box {
  border: 1px solid #eaeaea !important;
}
.middle .froala-editor {
  border: none !important;
  border-bottom: 1px solid #eaeaea !important;
  z-index: 10;
}
.middle .froala-element {
  border: none !important;
  background: #ffffff;
  padding: 20px 20px !important;
  font-size: 14px;
  color: #232c30;
  font-weight: 100;
}
.middle .froala-element::-webkit-input-placeholder {
  color: #9ea5ab;
}
.middle .froala-element:-moz-placeholder {
  color: #9ea5ab;
}
.middle .froala-element::-moz-placeholder {
  color: #9ea5ab;
}
.middle .froala-element:-ms-input-placeholder {
  color: #9ea5ab;
}
.no-chat-fix {
  margin-right: 0px;
}
/*   ---   End of Main Area General   --   */
/*   ---   Code Editor Area   --   */
#editor-code {
  background: #ffffff;
  position: relative;
  border: 1px solid #dddddd;
  font-size: 12px;
  line-height: 18px;
}
#editor-code .ace_sb {
  overflow-y: auto;
}
#editor-code .ace_scroller {
  overflow-x: auto;
}
#editor-code .ace_gutter-cell {
  padding: 0px 20px;
  text-align: center;
}
#editor-code .ace_fold {
  background-image: url("/images/main/dots.png");
  background-size: 19px 7px;
  border: none;
}
#editor-code .ace_error {
  background-image: url("/images/main/error.png");
  background-size: 8px 8px;
  background-position: 8px center;
}
#editor-code .ace_gutter-cell.ace_info {
  background-image: none;
}
#editor-code .ace_line span {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}
/*   ---   End of Code Editor Area   --   */
/*   ---   Title Area   --   */
.title {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  padding: 0px 40px;
  /* pad name css */
}
.title .pad-name {
  float: left;
  height: 100px;
}
.title .pad-name h2 {
  font-size: 24px;
  line-height: 100px;
}
.title .pad-name h2 span {
  color: #eaeaea;
  font-size: 24px;
  margin-left: 20px;
}
.title .title-options {
  float: right;
  height: 42px;
  position: relative;
  top: 29px;
}
.title .title-options .icon {
  width: 45px;
  height: 42px;
  padding: 10px 10px;
  background-color: #ffffff;
  background-size: 25px 22px;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.title .title-options .private-icon {
  background-image: url('/images/main/private-icon.png');
}
.title .title-options .shared-icon {
  background-image: url('/images/main/shared-icon.png');
}
.title .title-options .public-icon {
  background-image: url('/images/main/public-icon.png');
}
.title .title-options .chaton-icon {
  background-image: url('/images/main/chaton-icon.png');
}
.title .title-options .chatoff-icon {
  background-image: url('/images/main/chatoff-icon.png');
}
.title .title-options .trash-icon {
  background-image: url('/images/main/trash-icon.png');
}
/*   ---   End of Title Area   --   */
/*   ---    Pad Sharing Settings  --   */
.sharing-settings {
  background-color: rgba(255, 255, 255, 0.98);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2000;
}
.sharing-settings .modal-container {
  position: absolute;
  left: 50%;
  margin-left: -225px;
  top: 40%;
  margin-top: -190px;
  width: 550px;
  padding: 40px 40px;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.sharing-settings .modal-title {
  margin-bottom: 40px;
}
.sharing-settings .modal-title h6 {
  font-size: 18px;
  color: #232c30;
}
.sharing-settings .modal-confirm {
  margin-top: 40px;
}
.sharing-settings .modal-confirm button {
  margin-right: 20px;
  margin-left: 0px;
  float: left;
}
.sharing-settings .list-settings .radio {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #4b555d;
  padding: 4px 4px;
  float: left;
  position: relative;
  top: 8px;
  margin-right: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.sharing-settings .list-settings .radio:hover {
  cursor: pointer;
}
.sharing-settings .list-settings .radio-on {
  background-color: #33bea8;
}
.sharing-settings .list-settings .radio-off {
  background-color: #ffffff;
}
.sharing-settings .list-settings .radio-off:hover {
  border: 1px solid #636d75;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}
.sharing-settings .list-settings .setting-icons {
  width: 30px;
  height: 30px;
  padding: 6px 6px;
  background: #f9f9f9;
  border: 1px solid #eaeaea;
  float: left;
  margin-right: 10px;
}
.sharing-settings .list-settings .settings {
  margin-top: 30px;
}
.sharing-settings .list-settings .settings:hover {
  cursor: default;
}
.sharing-settings .list-settings .setting-text .large {
  color: #232c30;
  margin-bottom: 5px;
}
.sharing-settings .list-settings .setting-text .small {
  font-size: 12px;
  color: #636d75;
}
/*   ---    End of Pad Sharing Settings  --   */
/*   ---    Delete Settings  --   */
.delete-confirmation {
  background-color: rgba(255, 255, 255, 0.98);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2000;
}
.delete-confirmation .modal-container {
  position: absolute;
  left: 50%;
  margin-left: -225px;
  top: 40%;
  margin-top: -110px;
  width: 550px;
  padding: 60px 60px;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.delete-confirmation .modal-title {
  margin-bottom: 40px;
}
.delete-confirmation .modal-title h6 {
  font-size: 18px;
  color: #232c30;
  text-align: center;
}
.delete-confirmation .modal-confirm {
  margin-top: 40px;
  display: block;
  text-align: center;
  font-size: 0;
}
.delete-confirmation .modal-confirm button {
  margin-right: 20px;
  margin-left: 0px;
}
/*   ---    End of Pad Sharing Settings  --   */
/*   ---   New Pad Area   --   */
.new-pad-area {
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  top: 70px;
  left: 220px;
  bottom: 0;
  z-index: 1500;
  width: 300px;
  height: 400px;
  background-color: #4b555d;
  -webkit-box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
  display: none;
  /* Input new pad */
}
.new-pad-area .input-area {
  padding: 20px 20px;
  background-color: #ffffff;
}
.new-pad-area .input-area .pad-name .name-input {
  width: 100%;
  height: 26px;
}
.new-pad-area .input-area .pad-name input {
  width: 100%;
  font-size: 14px;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0px 10px;
}
.new-pad-area .input-area .pad-name input::-webkit-input-placeholder {
  color: #9ea5ab;
  font-size: 14px;
}
.new-pad-area .input-area .pad-name input:-moz-placeholder {
  color: #9ea5ab;
  font-size: 14px;
}
.new-pad-area .input-area .pad-name input::-moz-placeholder {
  color: #9ea5ab;
  font-size: 14px;
}
.new-pad-area .input-area .pad-name input:-ms-input-placeholder {
  color: #9ea5ab;
  font-size: 14px;
}
.new-pad-area .input-area .green-btn {
  width: 100%;
}
.new-pad-area .pad-options {
  position: relative;
  /* pad type */
  /* pad descriptions */
}
.new-pad-area .pad-options .pad-type {
  width: 100%;
  height: 56px;
  background: #636d75;
  text-align: center;
  color: #dddddd;
  -webkit-box-shadow: inset 0px -2px 2px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -2px 2px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -2px 2px 0px rgba(0, 0, 0, 0.25);
}
.new-pad-area .pad-options .pad-type p {
  display: block;
  padding: 20px 0px;
}
.new-pad-area .pad-options .pad-type .text-pad {
  width: 50%;
  float: left;
  cursor: pointer;
}
.new-pad-area .pad-options .pad-type .code-pad {
  width: 50%;
  float: right;
  cursor: pointer;
}
.new-pad-area .pad-options .pad-type .active-type {
  background: #4b555d !important;
  color: #ffffff !important;
}
.new-pad-area .pad-options .pad-description {
  position: absolute;
  top: 100px;
  width: 100%;
  padding: 0px 30px;
}
.new-pad-area .pad-options .pad-description .icon {
  display: block;
  width: 40px;
  margin: 0 auto 20px auto;
}
.new-pad-area .pad-options .pad-description .type-title {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 20px;
}
.new-pad-area .pad-options .pad-description .type-more {
  text-align: center;
  color: #dddddd;
  font-size: 14px;
  line-height: 20px;
}
.new-pad-area .pad-options #code-info {
  display: none;
}
/*   ---   End of New Pad Area   --   */
.color-palette {
  border: 1px solid #dddddd;
  float: left;
  margin: 20px 20px;
  color: #777777;
}
.color-palette h1 {
  text-align: center;
  margin: 20px 0px;
}
.color-palette h2 {
  text-align: center;
  margin-bottom: 20px;
}
.color-box {
  width: 200px;
  height: 200px;
}
.c1 {
  background-color: #232c30;
}
.c2 {
  background-color: #363e44;
}
.c3 {
  background-color: #ffffff;
}
.c4 {
  background-color: #dddddd;
}
.c5 {
  background-color: #eaeaea;
}
/* 5 */
.c6 {
  background-color: #9ea5ab;
}
.c7 {
  background-color: #777777;
}
.c8 {
  background-color: #f1cf5d;
}
.c9 {
  background-color: #5dbff1;
}
.c10 {
  background-color: #cd7155;
}
/* 10 */
.c11 {
  background-color: #33bea8;
}
.c12 {
  background-color: #3bd9be;
}
.c13 {
  background-color: #4b555d;
}
.c14 {
  background-color: #636d75;
}
.c15 {
  background-color: #f9f9f9;
}
/* 15 */
.c16 {
  background-color: #f4f6f9;
}
.c17 {
  background-color: #e57e5e;
}
