/* Import all of my styles */
/*   ---   Global Less   --   */
/*   ---   CSS Reset   --   */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  padding: 0 0;
  box-sizing: border-box;
  outline: none;
}
* {
  box-sizing: border-box;
}
img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/*   ---   End of CSS Reset   --   */
/*   ---   Header   --   */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
input,
button,
body,
textarea {
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
a:hover {
  text-decoration: none;
}
.header {
  background: #232c30;
  height: 70px;
  width: 100%;
  z-index: 1500;
}
.header .logo-container {
  float: left;
  position: relative;
  top: 50%;
  z-index: 1500;
}
.header .logo-container img {
  width: 124px;
  position: relative;
  margin-top: -50%;
}
.header .menu-container {
  float: right;
  position: relative;
  z-index: 1500;
}
.header .menu-container .login-button {
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  outline: 0;
  position: relative;
  top: 16px;
}
.header .menu-container .login-button:hover {
  background: #33bea8;
  border: 1px solid #33bea8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #ffffff;
}
.header .menu-container .avatar-user {
  position: relative;
  top: 9px;
  height: 50px;
}
.header .menu-container .avatar-user:hover {
  cursor: pointer;
}
.header .menu-container .avatar-header {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
  top: 10px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  margin-right: 5px;
}
.header .menu-container .avatar-name {
  color: #ffffff;
  font-size: 14px;
  position: relative;
}
.header .menu-container .avatar-name .arrow {
  display: inline-block;
  margin-top: -10px;
  background: url('/images/header/arrow.png') no-repeat center center;
  background-size: 10px 5px;
  width: 10px;
  height: 8px;
  margin-left: 10px;
}
.header .menu-container .avatar-drop .dropdown {
  background: #ffffff;
  position: absolute;
  width: 200px;
  top: 50px;
  right: 0px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
}
.header .menu-container .avatar-drop .dropdown li {
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header .menu-container .avatar-drop .dropdown li:hover {
  background: #f9f9f9;
}
.header .menu-container .avatar-drop .dropdown li a {
  display: block;
  text-decoration: none;
  color: #9ea5ab;
}
.header .menu-container .avatar-drop .dropdown li:first-child {
  background: #5dbff1;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: none;
  cursor: default;
}
.header .menu-container .avatar-drop .dropdown li:first-child a {
  color: #ffffff;
}
.header .menu-container .avatar-drop .dropdown li:last-child {
  margin-bottom: 0px;
}
.header .menu-container .avatar-drop .dropdown span {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 10px;
}
.header .menu-container .avatar-drop .dropdown .help-icon {
  background: url('/images/header/help-icon.png') no-repeat center center;
  background-size: 16px 16px;
}
.header .menu-container .avatar-drop .dropdown .logout-icon {
  background: url('/images/header/logout-icon.png') no-repeat center center;
  background-size: 16px 16px;
}
.header .menu-container .avatar-drop .arrow-up {
  position: absolute;
  top: 42px;
  right: 12px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #5dbff1;
  z-index: 2;
}
.sides {
  padding-left: 20px;
  padding-right: 20px;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*   ---   End of Header   --   */
/*   ---   Random CSS   --   */
.madpad-container {
  overflow-x: hidden;
}
.minwidth {
  min-width: 1050px;
}
.underline {
  position: relative;
  height: 6px;
  border: 2px solid #33bea8;
  border-top: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.green-btn {
  background-color: #33bea8;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.green-btn:hover {
  background-color: #3bd9be;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.cancel-btn {
  background-color: #dddddd;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cancel-btn:hover {
  background-color: #eaeaea;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.red-btn {
  background-color: #cd7155;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 2px;
}
.red-btn:hover {
  background-color: #e57e5e;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.darken {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232c30;
  opacity: 0.8;
  z-index: 1200;
  display: none;
}
.overlay-close {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.overlay-open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
/*   ---   End of Random CSS   --   */
/*   ---   Account Modal   --   */
.account {
  background-color: rgba(255, 255, 255, 0.98);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2000;
}
.account .modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
}
.account .modal-content h6 {
  font-size: 48px;
  color: #636d75;
  margin-bottom: 30px;
}
.account .modal-content p {
  font-size: 14px;
  color: #777777;
  margin-bottom: 30px;
}
.account .modal-content p a {
  color: #5dbff1;
  text-decoration: none;
}
.account .social-icons {
  width: 360px;
  height: 170px;
  margin: 0 auto;
}
.account .social-icons a {
  display: block;
}
.account .social-icons img {
  width: 170px;
}
.account .social-icons img:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.account .social-icons .facebook-icon {
  float: left;
}
.account .social-icons .github-icon {
  float: right;
}
.account .social-type {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  margin-top: 30px;
  text-align: center;
}
.account .social-type p {
  color: #dddddd;
  font-size: 24px;
}
/*   ---   End of Account Modal   --   */
/*   ---   Status CSS   --   */
.status {
  position: absolute;
  width: 100%;
  height: 70px;
  background: rgba(93, 191, 241, 0.95);
  text-align: center;
  z-index: 2000;
  display: none;
}
.status p {
  color: #ffffff;
  line-height: 70px;
  font-size: 18px;
}
#login-content {
  width: 500px;
  margin-top: -161px;
  margin-left: -250px;
}
/*   ---   End of Status CSS   --   */
/*   ---   Choose Username CSS   --   */
.signup-step-wrapper {
  height: 100%;
  background: #f9f9f9;
}
.signup-step-wrapper .fb-signup-img {
  display: block;
  width: 100px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  margin: 0 auto 40px auto;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.signup-step-wrapper .move {
  top: 150px !important;
}
.signup-step-wrapper .username-wrapper {
  position: relative;
  top: 100px;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  transition: 1.5s;
  -webkit-transition: 1.5s;
  opacity: 0;
}
.signup-step-wrapper .username-wrapper h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}
.signup-step-wrapper .username-wrapper .username-form {
  width: 300px;
  margin: 0 auto;
}
.signup-step-wrapper .username-wrapper .username-input {
  width: 100%;
  height: 50px;
  padding: 10px 10px;
  background: #ffffff;
  font-size: 16px;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
}
.signup-step-wrapper .username-wrapper .username-submit {
  width: 100%;
  height: 50px;
}
/*   ---   End of Choose Username CSS   --   */
/*   ---   Modal Less   --   */
.modal {
  background-color: rgba(255, 255, 255, 0.98);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2000;
}
.modal .modal-title {
  margin-bottom: 40px;
}
.modal .modal-title h6 {
  font-size: 18px;
  font-weight: 400;
  color: #232c30;
  text-align: center;
}
.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.modal-close img {
  width: 49px;
  padding: 10px 10px;
}
/*   ---   End of Modal Less   --   */
/*   ---   Tooltip Less   --   */
.tooltip {
  display: inline;
  position: relative;
}
.tooltip:hover:after {
  white-space: nowrap;
  background: #5dbff1;
  left: 0;
  font-size: 12px;
  line-height: 18px;
  border-radius: 2px;
  top: 41px;
  color: #ffffff;
  content: attr(name);
  padding: 8px 16px;
  position: absolute;
  z-index: 98;
}
.tooltip:hover:before {
  border: solid;
  border-color: #5dbff1 transparent;
  border-width: 0px 6px 6px 6px;
  top: 35px;
  content: "";
  left: 50%;
  margin-left: -6px;
  position: absolute;
  z-index: 99;
}
.tooltips:hover:after {
  white-space: pre!important;
}
/*   ---   End of Tooltip Less   --   */
/*   ---   Error Message Less   --   */
.error-msg {
  text-align: center;
  color: #cd7155;
  margin-top: 20px;
}
.error-page {
  position: relative;
  top: 20%;
  text-align: center;
}
.error-page h1 {
  color: #4b555d;
  font-size: 100px;
}
.error-page h2 {
  color: #9ea5ab;
  margin-top: 20px;
  font-size: 36px;
}
.error-page a {
  color: #5dbff1;
  text-decoration: none;
}
/*   ---   End of Error Message Less   --   */
/*   ---   Home Page   --   */
.hero {
  position: relative;
  background-color: #232c30;
  width: 100%;
  height: 770px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.hero .text {
  position: relative;
  top: 130px;
  text-align: center;
}
.hero h1 {
  font-size: 50px;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  font-weight: normal;
}
.hero h2 {
  font-size: 30px;
  color: #eaeaea;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.hero .toggle {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #eaeaea;
  border: 4px solid #ffffff;
  padding: 4px 4px;
  border-radius: 50px;
}
.hero .toggle span {
  display: inline-block;
  width: 70px;
  line-height: 30px;
  text-align: center;
  padding: 4px 4px;
  color: #777777;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
}
.hero .toggle .active {
  background: #5dbff1;
  color: #ffffff;
}
.hero .code-type {
  position: absolute;
  top: 20px;
  right: 20px;
}
.hero #textpad-home {
  display: none;
}
.hero .pad-example {
  width: 850px;
  height: 400px;
  position: relative;
  top: 160px;
  display: block;
  margin: 0 auto;
  opacity: .98;
}
.hero .pad-example .froala-element {
  height: 400px !important;
  background: #ffffff;
}
.hero .pad-example .editor-active {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.hero .pad-example .froala-box {
  border: 1px solid #eaeaea !important;
}
.hero .pad-example .froala-editor {
  border: none !important;
  border-bottom: 1px solid #eaeaea !important;
  z-index: 10;
}
.hero .pad-example .froala-element {
  border: none !important;
  background: #ffffff;
  padding: 20px 20px !important;
  font-size: 14px;
  color: #232c30;
  font-weight: 100;
}
.hero .pad-example .froala-element::-webkit-input-placeholder {
  color: #9ea5ab;
}
.hero .pad-example .froala-element:-moz-placeholder {
  color: #9ea5ab;
}
.hero .pad-example .froala-element::-moz-placeholder {
  color: #9ea5ab;
}
.hero .pad-example .froala-element:-ms-input-placeholder {
  color: #9ea5ab;
}
.hero .pad-example .froala-element strong {
  font-weight: bold !important;
}
.hero .pad-example .froala-element strong span {
  font-weight: bold;
}
.hero .pad-example .froala-element em {
  font-style: italic;
}
.hero .pad-example #editor-code {
  height: 444px !important;
}
.hero .pad-example .pad-area {
  border: 4px solid #5dbff1 !important;
}
.hero:before {
  position: absolute;
  content: "";
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  background: url('/images/global/hero2.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.visible:before {
  opacity: 0.1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.hidden:before {
  opacity: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.header-fixed {
  background: transparent;
  position: fixed;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.header-sticky {
  background: #232c30;
}
.header-sticky .menu-container .login-button {
  border: 1px solid #33bea8;
  color: #33bea8;
}
.section .row {
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
}
.section .col-50 {
  float: left;
  width: 50%;
  padding: 0px 80px;
}
.section h1 {
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 48px;
}
.section p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}
.white {
  background: #ffffff;
}
.grey {
  background: #f9f9f9;
}
.blue {
  background: #5dbff1;
}
.codesection {
  padding: 80px 0px;
}
.codesection .code-example {
  width: 100%;
  min-width: 500px;
  max-width: 715px;
  display: block;
  margin: 0 auto;
}
.codesection .text {
  padding-top: 0px;
}
@media (min-width: 1400px) {
  .codesection .text {
    padding-top: 20px;
  }
}
@media (min-width: 1600px) {
  .codesection .text {
    padding-top: 80px;
  }
}
.iphonesection {
  padding-top: 80px;
}
.iphonesection .text {
  padding-left: 0px;
  position: relative;
  top: 120px;
}
.iphonesection .iphone {
  width: 400px;
  margin: 0 auto;
  display: block;
}
.privacy {
  padding: 80px 0px;
}
.privacy .text {
  padding-top: 80px;
}
.privacy .iphone {
  width: 400px;
  margin: 0 auto;
  display: block;
}
.signuparea {
  padding: 120px 0px;
  text-align: center;
  background: url("/images/global/signup.jpg") no-repeat center center;
  background-size: cover;
}
.signuparea h1 {
  color: #ffffff;
  margin-bottom: 40px;
}
.signuparea a {
  display: inline-block;
  border: 1px solid #ffffff;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
}
.signuparea a:hover {
  color: #33bea8;
  border: 1px solid #33bea8;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
/* Footer */
footer {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #232c30;
  border-top: 1px solid #4b555d;
}
footer .row {
  overflow: hidden;
}
footer .leftside {
  float: left;
  width: 30%;
}
footer .leftside p {
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
  line-height: 18px;
}
footer .rightside {
  float: right;
}
footer .rightside ul a {
  display: block;
  float: left;
  margin: 0 20px;
  font-size: 14px;
  line-height: 18px;
}
footer .rightside ul li {
  float: left;
  color: #ffffff;
  opacity: 0.5;
}
footer .rightside ul li:hover {
  opacity: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
/*   ---   End of Home Page   --   */
/*   ---  About us Page   --   */
.about-wrap {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  top: 100px;
}
.about-wrap h1 {
  font-size: 40px;
  color: #dddddd;
  text-align: center;
  margin-bottom: 60px;
}
.about-wrap .col {
  float: left;
  width: 50%;
  text-align: center;
}
.about-wrap .col h2 {
  font-size: 30px;
  color: #5dbff1;
  margin-top: 30px;
}
.about-wrap .about-avatar {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.about-wrap hr {
  width: 300px;
  border: none;
  border-top: 2px solid #eaeaea;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about-wrap .social-logo {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
  opacity: 0.7;
}
.about-wrap .social-logo:hover {
  opacity: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
/*   ---  End About us Page   --   */
/*   ---  Feedback Override  --   */
.uv-icon > svg {
  display: none;
  width: 0px;
  height: 0px;
}
.uv-icon {
  width: 0px !important;
  height: 0px !important;
}
.uv-popover-tail {
  display: none;
}
.uv-icon.uv-bottom-left {
  bottom: 0px !important;
  left: 10px !important;
}
/*   ---  End of Feedback Override  --   */
/*   ---  Privacy/TOS  --   */
.tos {
  width: 1100px;
  margin: 0 auto;
  padding: 40px 0px;
}
.tos h1 {
  font-size: 30px;
  color: #232c30;
  line-height: 36px;
  margin-bottom: 10px;
}
.tos h2 {
  font-size: 24px;
  color: #232c30;
  line-height: 30px;
  margin-bottom: 10px;
}
.tos p {
  color: #777777;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.tos ul {
  padding-left: 20px;
  margin-bottom: 10px;
}
.tos li {
  font-size: 14px;
  color: #777777;
  line-height: 20px;
  list-style: circle;
  margin-left: 20px;
}
/*   ---  End of Privacy/TOS  --   */
/*   ---   Side Bar General   --   */
.left {
  width: 250px;
  min-height: 500px;
  float: left;
  background-color: #363e44;
  overflow: hidden;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 1300;
}
.left .all-pads {
  overflow-y: auto;
  overflow-x: hidden;
}
/*   ---   End of Side Bar General   --   */
/*   ---   Pad List   --   */
.effect {
  transform: translate(-30px);
}
.pad-list {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #363e44;
}
.pad-list h5 {
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  background-color: #363e44;
}
.pad-list li {
  background-color: #363e44;
  overflow: hidden;
  clear: both;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.pad-list li:hover {
  background-color: #4b555d;
  cursor: pointer;
}
.pad-list li .favorite {
  background: url('/images/main/favorite-icon.png') no-repeat center center;
  background-size: 12px 12px;
  width: 12px;
  height: 50px;
  float: left;
  margin-left: 0px;
  position: relative;
  left: 30px;
  margin-right: 10px;
}
.pad-list li .pad-heart-x {
  line-height: 50px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.pad-list li .pad-heart-x span {
  float: right;
}
.pad-list li .pad-heart-x .delete {
  background: url('/images/main/small-x.png') no-repeat center center;
  background-size: 12px 12px;
  width: 12px;
  height: 50px;
  padding: 0px 20px 0px 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.pad-list li .pad-heart-x .delete:hover {
  background: url('/images/main/small-x-hover.png') no-repeat center center;
  background-size: 12px 12px;
  width: 12px;
  height: 50px;
}
.pad-list a {
  display: block;
  width: 198px;
  float: left;
  height: 50px;
  line-height: 50px;
  padding: 0px 0px 0px 30px;
  color: #9ea5ab;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pad-list .active {
  color: #33bea8;
  background-color: #232c30;
}
/*   ---   End of Pad List   --   */
/*   ---   User/Shared/Public Pads  --   */
.user-pads h5 {
  color: #f1cf5d;
}
.shared-pads h5 {
  color: #5dbff1;
}
.public-pads h5 {
  color: #cd7155;
}
/*   ---  End of User/Shared/Public Pads  --   */
/* General button style (reset) */
.btn {
  cursor: pointer;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  border-radius: 0px;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
/*   ---   Overlay Animation Component  --   */
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
/*   ---   Overlay Animation Component  --   */
/*   ---   Chat Bar General   --   */
.right {
  width: 300px;
  min-height: 500px;
  float: right;
  background: #f9f9f9;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid #eaeaea;
  /* chat title */
  /* user message styles */
  /* other user message style */
  /* submit area */
}
.right .chat-avatar {
  background-image: url('/images/chat/animals/chicken.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #33bea8;
  background-size: 44px 44px;
}
.right .chat-title {
  border-bottom: 1px solid #dddddd;
  background: #eaeaea;
  height: 50px;
}
.right .chat-title .avatar-list {
  position: relative;
  max-width: 280px;
  top: 10px;
  padding: 0px 10px;
}
.right .chat-title .avatar-list li {
  float: left;
  margin-right: 10px;
}
.right .chat-title .avatar-list li:hover {
  cursor: pointer;
}
.right .chat-title .avatar-list li p {
  font-size: 12px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #eaeaea;
  background: #ffffff;
  padding: 0px 10px;
  border-radius: 20px;
}
.right .chat-title .avatar-user {
  background-size: cover;
  background: #ffffff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
}
.right .chat-title .avatar-owner {
  border: 2px solid #5dbff1;
}
.right #messages {
  padding: 10px 10px;
  overflow-y: auto;
  font-size: 12px;
  font-weight: 300;
  background: #eaeaea;
  color: #232c30;
}
.right #messages .content {
  max-width: 194px;
  min-width: 100px;
  word-wrap: break-word;
  border-radius: 4px;
  padding: 10px 10px;
  margin-bottom: 20px;
}
.right .user {
  width: 100%;
  overflow: hidden;
}
.right .user .avatar {
  float: right;
  margin-left: 10px;
}
.right .user .content {
  float: left;
  background: #ffffff;
  margin-right: 5px;
}
.right .user .message-area {
  float: right;
  background: url('/images/mobile/arrow-right.png') no-repeat;
  background-size: 12px 20px;
  background-position: right 52px top 10px;
}
.right .user .name {
  font-size: 12px;
  color: #9ea5ab;
  margin-top: 10px;
}
.right .other-user {
  width: 100%;
  overflow: hidden;
}
.right .other-user .avatar {
  float: left;
  margin-right: 10px;
}
.right .other-user .content {
  float: right;
  background: #c2e2f2;
  margin-left: 5px;
}
.right .other-user .message-area {
  float: left;
  background: url('/images/mobile/arrow-left.png') no-repeat;
  background-size: 12px 20px;
  background-position: left 52px top 10px;
}
.right .other-user .name {
  font-size: 12px;
  color: #4b555d;
  margin-top: 10px;
}
.right .avatar {
  background-size: cover;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
}
.right .name {
  font-size: 12px;
  color: #9ea5ab;
  margin-top: 10px;
}
.right .submit-wrapper {
  width: 299px;
  height: 79px;
  position: absolute;
  bottom: 0;
}
.right .submit-area {
  width: 300px;
  background: #f9f9f9;
  padding: 15px 15px;
  border-top: 1px solid #dddddd;
}
.right .submit-area .message-input {
  width: 100%;
  height: 46px;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  font-size: 12px;
  outline: none;
  resize: none;
}
.right .submit-area button {
  float: right;
  margin-top: 10px;
}
/*   ---   End of Chat Bar General   --   */
/*   ---   Main Area General   --   */
.middle {
  min-width: 500px;
  min-height: 500px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 250px;
  margin-right: 300px;
}
.middle .pad-wrapper {
  position: relative;
  background-color: #f9f9f9;
  padding: 40px 40px;
  min-height: 500px;
}
.middle .editor-active {
  border: 1px solid #ffffff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}
.middle .froala-box {
  border: 1px solid #eaeaea !important;
}
.middle .froala-editor {
  border: none !important;
  border-bottom: 1px solid #eaeaea !important;
  z-index: 10;
}
.middle .froala-element {
  border: none !important;
  background: #ffffff;
  padding: 20px 20px !important;
  font-size: 14px;
  color: #232c30;
  font-weight: 100;
}
.middle .froala-element::-webkit-input-placeholder {
  color: #9ea5ab;
}
.middle .froala-element:-moz-placeholder {
  color: #9ea5ab;
}
.middle .froala-element::-moz-placeholder {
  color: #9ea5ab;
}
.middle .froala-element:-ms-input-placeholder {
  color: #9ea5ab;
}
.middle .froala-element strong {
  font-weight: bold !important;
}
.middle .froala-element strong span {
  font-weight: bold;
}
.middle .froala-element em {
  font-style: italic;
}
.no-chat-fix {
  margin-right: 0px;
}
/*   ---   End of Main Area General   --   */
/*   ---   Code Editor Area   --   */
#editor-code {
  background: #ffffff;
  position: relative;
  border: 1px solid #dddddd;
  font-size: 12px;
  line-height: 18px;
  clear: both;
}
#editor-code .ace_sb {
  overflow-y: auto;
}
#editor-code .ace_scroller {
  overflow-x: none;
}
#editor-code .ace_gutter-cell {
  padding: 0px 20px;
  text-align: center;
}
#editor-code .ace_fold {
  background-image: url("/images/main/dots.png");
  background-size: 19px 7px;
  border: none;
}
#editor-code .ace_error {
  background-image: url("/images/main/error.png");
  background-size: 8px 8px;
  background-position: 8px center;
}
#editor-code .ace_gutter-cell.ace_info {
  background-image: none;
}
#editor-code .ace_line span {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}
.code-type {
  width: 120px;
  height: 40px;
  border: 1px solid #eaeaea;
  color: #232c30;
  background: rgba(255, 255, 255, 0.9);
  outline: none;
  position: absolute;
  top: 50px;
  right: 60px;
  float: right;
  padding: 0px 10px;
  z-index: 1000;
}
/*   ---   End of Code Editor Area   --   */
/*   ---   Title Area   --   */
.title {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  padding: 0px 40px;
  /* pad name css */
}
.title .pad-name {
  float: left;
  height: 100px;
}
.title .pad-name h2 {
  font-size: 24px;
  line-height: 100px;
}
.title .pad-name h2 span {
  color: #eaeaea;
  font-size: 24px;
  margin-left: 20px;
}
.title .title-options {
  float: right;
  height: 42px;
  position: relative;
  top: 29px;
}
.title .title-options .icon {
  width: 45px;
  height: 42px;
  padding: 10px 10px;
  background-color: #ffffff;
  background-size: 25px 22px;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.title .title-options .new-icon {
  background-image: url('/images/main/new-icon.png');
}
.title .title-options .heart-icon {
  background-image: url('/images/main/heart-icon.png');
}
.title .title-options .favorite-icon {
  background-image: url('/images/main/favorite-icon.png');
}
.title .title-options .chaton-icon {
  background-image: url('/images/main/chaton-icon.png');
}
.title .title-options .chatoff-icon {
  background-image: url('/images/main/chatoff-icon.png');
}
.title .title-options .trash-icon {
  background-image: url('/images/main/trash-icon.png');
}
.title .share-settings-icon {
  position: relative;
  top: 36px;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  background: #f9f9f9;
  float: right;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 20px;
}
.title .share-settings-icon:hover {
  cursor: pointer;
  background: #eaeaea;
}
.title .share-settings-icon span {
  color: #9ea5ab;
  font-size: 14px;
  position: relative;
  top: -2px;
}
.title .share-settings-icon .icon {
  width: 20px;
  height: 28px;
  background-size: 14px 14px;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  margin-right: 5px;
}
.title .share-settings-icon .private-icon {
  background-image: url('/images/main/private-lock.png');
}
.title .share-settings-icon .shared-icon {
  background-image: url('/images/main/shared-eye.png');
}
.title .share-settings-icon .public-icon {
  background-image: url('/images/main/public-world.png');
}
/*   ---   End of Title Area   --   */
/*   ---    Pad Sharing Settings  --   */
.sharing-settings .modal-container {
  position: absolute;
  left: 50%;
  margin-left: -225px;
  top: 40%;
  margin-top: -190px;
  width: 550px;
  padding: 40px 40px;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.sharing-settings .modal-confirm {
  margin-top: 40px;
}
.sharing-settings .modal-confirm button {
  margin-right: 20px;
  margin-left: 0px;
  float: left;
}
.sharing-settings .list-settings .radio {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #4b555d;
  padding: 4px 4px;
  float: left;
  position: relative;
  top: 8px;
  margin-right: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.sharing-settings .list-settings .radio:hover {
  cursor: pointer;
}
.sharing-settings .list-settings .radio-on {
  background-color: #5dbff1;
}
.sharing-settings .list-settings .radio-off {
  background-color: #ffffff;
}
.sharing-settings .list-settings .radio-off:hover {
  border: 1px solid #636d75;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}
.sharing-settings .list-settings .setting-icons {
  width: 30px;
  height: 30px;
  padding: 6px 6px;
  background: #f9f9f9;
  border: 1px solid #eaeaea;
  float: left;
  margin-right: 10px;
}
.sharing-settings .list-settings .settings {
  margin-top: 30px;
}
.sharing-settings .list-settings .settings:hover {
  cursor: pointer;
}
.sharing-settings .list-settings .settings:hover .large {
  color: #5dbff1;
}
.sharing-settings .list-settings .setting-text .large {
  color: #232c30;
  margin-bottom: 5px;
}
.sharing-settings .list-settings .setting-text .small {
  font-size: 12px;
  color: #636d75;
}
/*   ---    End of Pad Sharing Settings  --   */
/*   ---    Delete Settings  --   */
.delete-confirmation .modal-container {
  position: absolute;
  left: 50%;
  margin-left: -225px;
  top: 40%;
  margin-top: -110px;
  width: 550px;
  padding: 60px 60px;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.delete-confirmation .modal-confirm {
  margin-top: 40px;
  display: block;
  text-align: center;
  font-size: 0;
}
.delete-confirmation .modal-confirm button {
  margin-right: 20px;
  margin-left: 0px;
}
/*   ---    End of Delete Settings  --   */
/*   ---    New Pad  --   */
.create-pad .create-pad-container {
  position: relative;
  left: 50%;
  margin-left: -330px;
  top: 100px;
  width: 660px;
  padding: 60px 60px;
  border: 1px solid #eaeaea;
}
.create-pad .create-pad-container h1 {
  font-size: 18px;
  color: #232c30;
  margin-bottom: 40px;
  text-align: center;
}
.create-pad .modal-container {
  position: absolute;
  left: 50%;
  margin-left: -330px;
  top: 25%;
  margin-top: -110px;
  width: 660px;
  padding: 60px 60px;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.create-pad .pad-type {
  overflow: hidden;
  z-index: 2;
}
.create-pad .pad-type .type-tab {
  float: left;
  background: #eaeaea;
  color: #ffffff;
  padding: 10px 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.create-pad .pad-type .type-tab:hover {
  cursor: pointer;
  background: #dddddd;
}
.create-pad .pad-type .active {
  background: #5dbff1;
  color: #ffffff;
}
.create-pad .pad-type .active:hover {
  background: #5dbff1;
}
.create-pad .type-line {
  width: 280px;
  float: left;
  border-top: 2px solid #eaeaea;
  margin-bottom: 40px;
  margin-top: 0px;
  position: relative;
  top: -2px;
  z-index: -1;
}
.create-pad form {
  clear: both;
}
.create-pad .label {
  float: left;
  color: #9ea5ab;
  width: 120px;
}
.create-pad hr {
  border: none;
  border-top: 1px solid #eaeaea;
  margin-top: 25px;
  margin-bottom: 25px;
}
.create-pad .name-input .label {
  position: relative;
  top: 2px;
  line-height: 40px;
}
.create-pad .pad-name {
  width: 418px;
  height: 40px;
  border: 1px solid #eaeaea;
  padding-left: 10px;
  font-size: 14px;
}
.create-pad .pad-name:focus {
  border: 1px solid #eaeaea;
  box-shadow: none;
  outline: none;
}
.create-pad .pad-option {
  display: inline-block;
  position: relative;
  top: 2px;
}
.create-pad .pad-option .option-tab {
  float: left;
  padding: 10px 10px;
  border-bottom: 3px solid #eaeaea;
  margin-right: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.create-pad .pad-option .option-tab:hover {
  cursor: pointer;
  border-bottom: 3px solid #5dbff1 !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.create-pad .pad-option .option-tab p {
  margin-top: 0px;
  color: #9ea5ab;
}
.create-pad .pad-option .active {
  border-bottom: 3px solid #5dbff1;
}
.create-pad .pad-option .active p {
  color: #5dbff1;
}
.create-pad .pad-option .label {
  position: relative;
  line-height: 40px;
}
.create-pad .inputWhatPadWillOpen {
  font-style: italic;
  color: #9ea5ab;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}
.create-pad .inputPadErrors {
  color: #cd7155;
  text-align: center;
  margin-bottom: 10px;
}
.create-pad button {
  display: block;
  width: 250px;
  margin: 0 auto;
}
/*   ---    End of New Pad  --   */
.color-palette {
  border: 1px solid #dddddd;
  float: left;
  margin: 20px 20px;
  color: #777777;
}
.color-palette h1 {
  text-align: center;
  margin: 20px 0px;
}
.color-palette h2 {
  text-align: center;
  margin-bottom: 20px;
}
.color-box {
  width: 200px;
  height: 200px;
}
.c1 {
  background-color: #232c30;
}
.c2 {
  background-color: #363e44;
}
.c3 {
  background-color: #ffffff;
}
.c4 {
  background-color: #dddddd;
}
.c5 {
  background-color: #eaeaea;
}
/* 5 */
.c6 {
  background-color: #9ea5ab;
}
.c7 {
  background-color: #777777;
}
.c8 {
  background-color: #f1cf5d;
}
.c9 {
  background-color: #5dbff1;
}
.c10 {
  background-color: #cd7155;
}
/* 10 */
.c11 {
  background-color: #33bea8;
}
.c12 {
  background-color: #3bd9be;
}
.c13 {
  background-color: #4b555d;
}
.c14 {
  background-color: #636d75;
}
.c15 {
  background-color: #f9f9f9;
}
/* 15 */
.c16 {
  background-color: #f4f6f9;
}
.c17 {
  background-color: #e57e5e;
}
