<div class="account login-signup overlay-close">
    <section class="modal-close">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAAA6CAMAAADWZboaAAAAnFBMVEWepav///+epauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauepauNEDywAAAAM3RSTlMAAAEDBAYPFBUcHyQtLjc/QEJRW2VnaGlsbW54g4SIiYqXmJ6fpbGyw8nT2Nzk5evx9v3hYNU+AAABiUlEQVRIx7XXaXOCMBAG4DdaTzyqWK3VetQq3gf7//9bP4DJIldYpnxjJ88MQ5LNGwDAaFeD7aNUbTdSSikFAK5PnrVVNY98N6SuT0TemyWtekSBDSXRtmont0ShxTCQljaURP5QYU9kb7Uk2ivUD/rtt5IjKxs99lBX4HadbStrLhWAxtHOMnlshPPatLJcNp9LgttVKl2+yICiedL1RYpc6BGnQIYUrXOONfLcUhHK7XeCnMelptzOYnKWIA1F+5Jqjby0VQKFk2aZdJBIuf1i5SmXKRTOVY+a6OJE164OUik6t5g18tZBBo3b8YtMp8z6LnQLMTKDontn1sh7F7kUPWN/jOzBgjJLcZlN45bJHIr+IyIffVhTDLh9DFCAchuV/0nlH/z6m96tqXxy5EtCvhDly1++6dhWHwMAPmy3urzByNsaa6ZTVv7Mb6byFi4/OOTHFZPzYoek/GiWBwIWQ5bFYog8/MgjlzzoMbkpGC9LhNoSUbpEgH9eG+xk9NpQ5rIivSL9AeET1YjA1Wu3AAAAAElFTkSuQmCC" />
    </section>
    <section class="modal-content" id="login-content">
        <div class="text">
            <h6>Log In</h6>
            <p>Use Facebook or Github to sign in. Don't have an account? <a href="#">Sign up</a>.</p>
        </div>
        <div class="social-icons">
            <div class="facebook">
                <a href="/auth/facebook"><div class="facebook-icon"></div></a>
            </div>
            <div class="github">
                <a href="/auth/github"><div class="github-icon"></div></a>
            </div>
        </div>
        <div class="social-type">
            <p class="social-message"></p>
        </div>
    </section>  
</div> <!-- Log in modal -->