  <div class="sharing-settings overlay-close modal">
      <div class="modal-container">
         <div class="modal-title">
              <h6>Share Settings</h6>  
         </div>
         <div class="list-settings">
              <div class="settings" id="private-setting">
                  <div class="radio-on radio"></div>
                  <img src="/images/main/private-lock.png" class="setting-icons"/>
                  <div class="setting-text">
                      <p class="large">Personal private pad</p>
                      <p class="small">Only you can see this pad and no one else.</p>
                  </div>
              </div> <!-- Private Setting -->

              <div class="settings" id="shared-setting">
                  <div class="radio-off radio"></div>
                  <img src="/images/main/shared-network.png" class="setting-icons"/>
                  <div class="setting-text">
                      <p class="large">Viewable with link</p>
                      <p class="small">Anyone with this pad's link can view it (they cannot edit it).</p>
                  </div>
              </div> <!-- Shared Setting -->

              <div class="settings" id="public-setting">
                  <div class="radio-off radio"></div>
                  <img src="/images/main/public-world.png" class="setting-icons"/>
                  <div class="setting-text">
                      <p class="large">Editable by the public</p>
                      <p class="small">Anyone with this pad's link can view and edit.</p>
                  </div>
              </div> <!-- Shared Setting -->
         </div>
         <div class="modal-confirm">
              <button class="green-btn" id="save-settings">Save Setting</button>
              <button class="cancel-btn" id="cancel-settings">Cancel</button>
         </div>
      </div>
  </div> <!-- Settings Modal -->