  <div class="account signup overlay-close">
    <section class="modal-close">
        <img src="/images/account/cross.png" />
    </section>
    <section class="modal-content" id="signup-content">
        <div class="text">
            <h6>Sign Up</h6>
            <p>Sign up instantly with Facebook or Github.  Already have an account? <a href="#" id="login-link">Login</a>.</p>
        </div>
        <div class="social-icons">
            <div class="facebook">
                <a href="/auth/facebook"><img src="/images/account/facebook.png" class="facebook-icon"/></a>
            </div>
            <div class="github">
                <a href="/auth/github"><img src="/images/account/github.png" class="github-icon"/></a>
            </div>
        </div>
        <div class="social-type">
            <p class="social-message"></p>
        </div>
    </section>  
  </div> <!-- Sign Up Modal -->