<div class="m-header m-padding">
	<div class="left-header">
		{{#unless isHome}}
		<div class="hamburger">
			<img src="/images/mobile/hamburger.png" />
		</div>
		{{/unless}}
		<div class="logo">
			<a href="/"><img src="/images/mobile/logo_2x.png" /></a>
		</div>
	</div><!-- left side -->
	<div class="right-header">
		<div class="m-icons m-plus">
			<img src="/images/mobile/newpad.png" />
		</div>
		{{#if user.username}}
		<div class="m-icons m-options">
			<img src="/images/mobile/options.png" />
			<div class="mobile-dropdown" id="option-dropdown" style="display:none">
				<ul>
					<li><a id="heartFavoriteIcon" class="{{#if isFavorite}}favorite-icon{{else}}heart-icon{{/if}}" href="#"><img src="/images/main/{{#if isFavorite}}favorite-icon{{else}}heart-icon{{/if}}.png" /><span>{{#if isFavorite}}Unfavorite{{else}}Favorite{{/if}} Pad</span></a></li>
					{{#compare usersRoom user.username operator="=="}}<li class="mobile-delete"><a href="#"><img src="/images/main/trash.png"/>Delete Pad</a></li>{{/compare}}
				</ul>
			</div>
		</div>
		<div class="m-icons m-account" id="open-user">
			<img src="{{user.picture}}" class="avatar-header" />
			<div class="mobile-dropdown" id="user-dropdown" style="display:none">
				<ul>
					<li><a href="/{{user.username}}/home" class="username"><img src="{{user.picture}}" class="avatar-header" style="height: 20px" />{{user.username}}</a></li>
					<li class="help-click"><a href="/help">Help</a></li>
					<li><a href="/logout">Log out</a></li>
				</ul>
			</div>
		</div>
		{{else}}
			<div class="m-icons m-account" id="open-account">
				<img src="/images/mobile/account.png" />
			</div>
		{{/if}}
	</div><!-- right side -->
</div><!-- header -->