/*   ---   Global Less   --   */

/*   ---   CSS Reset   --   */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    padding: 0 0;
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
}
/*   ---   End of CSS Reset   --   */

/*   ---   Header   --   */


h1, h2, h3, h4, h5, h6, p, a, span, input, button, body, textarea{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
}

a{
    &:hover{
        text-decoration: none;
    }
}

.header{
    background: @dark;
    height: 70px;
    width: 100%;

    .logo-container{
    	float: left;
    	position: relative;
    	top: 50%;
    	

    	img{
    		width: 124px;
    		position: relative;
    		margin-top: -50%;
    	}
    }
}

.sides{
    padding: 0px 20px;
}



/*   ---   End of Header   --   */


.madpad-container{
    overflow-x: hidden;
}

.minwidth{
    min-width: 1050px;
}

.underline{
    position: relative;
    height: 6px;
    border: 2px solid @green;
    border-top: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.green-btn{
    background-color: @green;
    outline: none;
    border: none;
    color: @f;
    font-size: 14px;
    height: 40px;
    padding: 0px 20px;
}

.darken{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: @dark;
    opacity: 0.8;
    z-index: 12;
}


/*   ---   End of Global Less   --   */
