/*   ---   Main Area General   --   */
.middle{
	min-width: 500px;
	min-height: 500px;
	overflow-y: hidden;
	overflow-x: hidden;
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: 250px;
	margin-right: 300px;

	.pad-wrapper{
		background-color: @light;
		padding: 40px 40px;
		min-height: 500px;
	}

	.editor-active{
		border: 1px solid @f;
		transition: 0.3s;
		-webkit-transition: 0.3s;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
		-moz-box-shadow:    0px 2px 5px 0px rgba(0, 0, 0, 0.15);
		box-shadow:         0px 2px 5px 0px rgba(0, 0, 0, 0.15);
	}

	.froala-box{
		border: 1px solid @d !important;
	}

	.froala-editor{
		border: none !important;
		border-bottom: 1px solid @d !important;
		z-index: 10;
	}

	.froala-element{
		border: none !important;
		background: @f;
		padding: 20px 20px !important;
		font-size: 14px;
		color: @dark;
		font-weight: 100;
		&::-webkit-input-placeholder {
		    color:    @9;
		}
		&:-moz-placeholder { 
		    color:    @9;
		}
		&::-moz-placeholder { 
		    color:    @9;
		}
		&:-ms-input-placeholder {
		    color:    @9;
		}
	}
}
/*   ---   End of Main Area General   --   */






/*   ---   Code Editor Area   --   */

#editor-code{
	background: @f;
	position: relative; 

	.ace_sb{
		overflow-y: auto;
	}

	.ace_scroller{
		overflow-x: auto;
	}

}


/*   ---   End of Code Editor Area   --   */




/*   ---   Title Area   --   */
.title{
	width: 100%;
	height: 100px;
	background-color: @f;
	border-bottom: 1px solid @d;
	padding: 0px 40px;

	.pad-name{
		float: left;

		h2{
			font-size: 24px;
			line-height: 100px;

			span{
				color: @hover;
				font-size: 18px;
				font-weight: bold;
			}
		}
	}

	.pad-icons{
		float: right;
		position: relative;
		top: 19px;

		.icon-wrapper{
			position: relative;
		}

		img{
			float: left;
			height: 62px;
			padding: 20px 20px;
			margin: 0px 0px;
			border-radius: 50%;

			&:hover{
				cursor: pointer;
			}
		}

		.icon-mousedown{
			background: rgba(51, 190, 168, 0.25);
			opacity: 1;
		}

		.transition{
			transition: 1s;
			-webkit-transition: 1s;
		}

		.active-icon{
			background: #fff !important;
			-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
			-moz-box-shadow:    0px 1px 4px 0px rgba(0, 0, 0, 0.15);
			box-shadow:         0px 1px 4px 0px rgba(0, 0, 0, 0.15);
		}

	}

}
/*   ---   End of Title Area   --   */


