/*   ---    Mobile Less  --   */

@import "variables.less";




/*   ---   CSS Reset   --   */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

html{
    height: 100%;
}

body {
    line-height: 1;
    height: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    padding: 0 0;
    box-sizing: border-box;
    outline: none;
}

*{
    box-sizing: border-box;
}

img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/*   ---   End of CSS Reset   --   */



/*   ---   All Mobile LESS   ---   */
.mobile{
/*   ---   Global Mobile LESS   ---   */

h1, h2, h3, h4, h5, h6, p, a, span, input, button, body, textarea{
    font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}


.m-padding{
	padding: 0px 10px;
}

.m-offset{
	height: 92px;
	width: 100%;
}


/*   ---   End of Global LESS   ---   */


/*   ---   Mobile Header   --   */
.m-header{
	width: 100%;
	height: 50px;
	background: @dark;
	position: absolute;
	z-index: 1900;

	.left-header{
		float: left;
		height: 50px;

		.hamburger{
			float: left;
			margin-right: 10px;

			img{
				position: relative;
				top: 15px;
				width: 20px;
			}
		}

		.logo{
			float: left;
			
			img{
				position: relative;
				top: 13px;
				width: 24px;
			}

		}
	}/* left side */

	.right-header{
		float: right;
		height: 50px;

		.m-icons{
			position: relative;
			top: 15px;
			float: left;
			padding: 0px 10px;
			width: 40px;
			height: 20px;

			img{
				width: 20px;
			}
		}
	}
}

.m-tabs{
	position: absolute;
	margin-top: 50px;
	width: 100%;
	height: 40px;
	background: @message;
	overflow: hidden;
	z-index: 1900;

	.tab{
		width: 33.33333333333%;
		float: left;
		position: relative;
		top: 4px;
		box-sizing: border-box;
		cursor: pointer;

		p{	
			position: relative;
			top: 0px;
			font-size: 14px;
			font-weight: bold;
			text-align: center;
			line-height: 33px;
			text-transform: uppercase;
			color: @hover;
		    -webkit-touch-callout: none;
		    -webkit-user-select: none;
		    -khtml-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		}
	}

	.active{
		border-bottom: 3px solid @green;

		p{
			color: @green;
		}
	}
}

.tab-shadow{
	position: absolute;
	width: 100%;
	height: 2px;
	margin-top: 90px;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #efefef;
	opacity: 0.8;
	z-index: 1900;
}
/*   ---   End of Mobile Header   --   */


.m-content{
	overflow: hidden;
}


/*   ---   Pad Content   --   */
.froala-box{

	.froala-editor{
		display: none;
	}

	.froala-element{
		border: 1px solid @ea;
		margin: 10px 10px;
		font-size: 80%;
	}
}
/*   ---   End of Pad Content   --   */



/*   ---   Chat Content   --   */
.chat{
	background: @light;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	border-left: 1px solid @ea;

	.num-users{
		text-align: center;
		background: @ea;
		border-bottom: 1px solid @d;
		height: 30px;

		p{
			font-size: 12px;
			color: @hover;
			line-height: 30px;
		}
	}

	.chat-avatar{
		background-image: url('/images/chat/animals/chicken.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-color: @green;
		background-size: 44px 44px;
	}

	.chat-title{
		border-bottom: 1px solid @d;
		background: @ea;
		height: 50px;

		.avatar-list{
			position: relative;
			max-width: 280px;
			top: 10px;
			padding: 0px 10px;

			li{
				float: left;
				margin-right: 10px;

				&:hover{
					cursor: pointer;
				}

				p{
					font-size: 12px;
					height: 30px;
					line-height: 28px;
					border: 1px solid @ea;
					background: @f;
					padding: 0px 10px;
					border-radius: 20px;
				}
			}
		}

		.avatar-user{
			background-size: cover;
			background: @f;
			border-radius: 50%;
			height: 30px;
			width: 30px;
			border: 1px solid @f;
			-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
			-moz-box-shadow:    0px 0px 2px 0px rgba(0, 0, 0, 0.15);
			box-shadow:         0px 0px 2px 0px rgba(0, 0, 0, 0.15);
		}

		.avatar-owner{
			border: 2px solid @blue;
		}

	} /* chat title */

	#messages{
		padding: 10px 10px;
		overflow-y: auto;
		font-size: 12px;
		font-weight: 300;
		background: @ea;
		color: @dark;

		.content{
			max-width: 194px;
			min-width: 100px;
			word-wrap: break-word;
			border-radius: 4px;
			padding: 10px 10px;
			margin-bottom: 20px;
			// -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
			// -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.15);
			// box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.15);

			// &:hover{
			// 	background: @message;
			// 	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
			// 	-moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.30);
			// 	box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.30);
			// 	transition: 0.5s;
			// 	-webkit-transition: 0.5s;
			// }
		}
	}

	.user{
			width: 100%;
			overflow: hidden;

		.avatar{
			float: right;
			margin-left: 10px;
		}

		.content{
			float: left;
			background: @f;
			margin-right: 5px;
		}

		.message-area{
			float: right;
			background: url('/images/mobile/arrow-right.png') no-repeat;
			background-size: 12px 20px;
			background-position: right 52px top 10px;
		}

		.name{
			font-size: 12px;
			color: @9;
			margin-top: 10px;
		}
	} /* user message styles */

	.other-user{
		width: 100%;
		overflow: hidden;

		.avatar{
			float: left;
			margin-right: 10px;
		}

		.content{
			float: right;
			background: #c2e2f2;
			margin-left: 5px;
		}

		.message-area{
			float: left;
			background: url('/images/mobile/arrow-left.png') no-repeat;
			background-size: 12px 20px;
			background-position: left 52px top 10px;
		}


		.name{
			font-size: 12px;
			color: @hover;
			margin-top: 10px;
		}
	} /* other user message style */


	.avatar{
		background-size: cover;
		border-radius: 50%;
		height: 44px;
		width: 44px;
		border: 2px solid @f;
		-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
		-moz-box-shadow:    0px 0px 2px 0px rgba(0, 0, 0, 0.15);
		box-shadow:         0px 0px 2px 0px rgba(0, 0, 0, 0.15);
	}


	.submit-wrapper{
		width: 100%;
		height: 70px;
		position: relative;
		bottom: 0;
		background: @light;
	}

	.submit-area{
		width: 100%;
		background: @light;
		padding: 15px 15px;
		border-top: 1px solid @d;


		.m-message{
			float: left;
			width: 70%;
		}

		.message-input{
			width: 100%;
			height: 40px;
			padding: 5px 10px;
			border: 1px solid @d;
			font-size: 12px;
			outline: none;
			resize: none;
			-webkit-appearance: none;
			-webkit-border-radius: 0;
		}

		.m-submit{
			float: right;
			width: 27%;
		}

		.submit-button{
			width: 100%;
			height: 40px;
			background: @green;
			color: @f;
			font-size: 16px;
			font-weight: bold;
			outline: none;
			border: none;
			-webkit-appearance: none;
			-webkit-border-radius: 0;
		}
	} /* submit area */
}
/*   ---   End of Chat Content   --   */

/*   ---    Mobile Pad Sharing Settings  --   */
.sharing-settings{
	width: 100%;
	padding: 20px 20px;
	border: 1px solid @ea;

    .modal-confirm{
    	margin-top: 20px;
    	height: 40px;
    	overflow: hidden;

    	button{
    		width: 100%;
    		height: 40px;
    		background: @green;
    		color: @f;
    		font-size: 14px;
    		outline: none;
    		border: none;
			-webkit-appearance: none;
			-webkit-border-radius: 0;
    	}
    }
    .list-settings{

    	.radio{
    		width: 14px;
    		height: 14px;
    		border-radius: 50%;
    		border: 1px solid @hover;
    		padding: 4px 4px;
    		float: left;
    		position: relative;
    		top: 8px;
    		margin-right: 10px;
    		transition: 0.3s;
    		-webkit-transition: 0.3s;

    		&:hover{
    			cursor: pointer;
    		}
       	}

    	.radio-on{
    		background-color: @blue;
    	}

    	.radio-off{
    		background-color: @f;
    	}

    	.setting-icons{
    		width: 30px;
 			height: 30px;
    		padding: 6px 6px;
    		background: @light;
    		border: 1px solid @ea;
    		float: left;
    		margin-right: 10px;

    	}

    	.settings{
    		margin-bottom: 30px;
    		margin-top: 0px;
    	}

    	.setting-text{

    		.large{
    			color: @dark;
    			margin-bottom: 5px;
    			line-height: 30px;
    		}

    	}
    }
}

.social-media{
	padding: 0px 20px;

	.row{
		overflow: hidden;
		margin-top: 15px;

	}
	.col{
		float: left;
		width: 50%;	
	}

	.social-icon{
		margin: 0 auto;

		img{
			width: 60px;
			display: block;
			margin: 0 auto;
		}

		p{
			text-align: center;
			margin-top: 10px;
			font-size: 14px;
			color: @d;
		}
	}

}
/*   ---    End of Mobile Pad Sharing Settings  --   */




/*   ---    List of Pads  --   */

.x-modal{
	float: left;
	position: absolute;
	padding: 10px 10px;

	img{
		width: 20px;

	}
}
.pad-list-modal{
	position: absolute;
	z-index: 2000;
	width: 100%;
	height: 100%;
	background: @sidebar;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.pad-title{
		clear: both;
		text-align: center;
		margin-top: 20px;
		p{
			color: @f;
			font-size: 20px;
		}
	}
}


.overlay-close{
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
}

.overlay-open{
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1,1);
    transform: scale(1,1);    
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.pad-list{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: @sidebar;

	h5{
		height: 50px;
		line-height: 50px;
		padding: 0px 20px;
		background-color: @sidebar;
	}


	li{
		background-color: @sidebar;
		overflow: hidden;
		clear: both;
		transition: 0.5s;
		-webkit-transition: 0.5s;

		.favorite{
			background: url('/images/main/favorite-icon.png') no-repeat center center;
			background-size: 12px 12px;
			width: 12px;
			height: 50px;
			float: left;
			margin-left: 0px;
			position: relative;
			left: 30px;
			margin-right: 10px;
		}
		.pad-heart-x{
			line-height: 50px;
			transition: 0.5s;
			-webkit-transition: 0.5s;

			span{
				float: right;
				
			}

			.delete{
				background: url('/images/main/small-x.png') no-repeat center center;
				background-size: 12px 12px;
				width: 12px;
				height: 50px;
				padding: 0px 20px 0px 10px;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				&:hover{
					background: url('/images/main/small-x-hover.png') no-repeat center center;
					background-size: 12px 12px;
					width: 12px;
					height: 50px;

				}
			}
		}
	}

	a{
		display: block;
		width: 198px;
		float: left;
		height: 50px;
		line-height: 50px;
		padding: 0px 0px 0px 30px;
		color: @9;
		text-decoration: none;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.active{
		color: @green;
		background-color: @dark;
	}

}
/*   ---   End of Pad List   --   */




/*   ---   User/Shared/Public Pads  --   */
.user-pads{

	h5{
		color: @yellow;
	}
}

.shared-pads{

	h5{
		color: @blue;
	}
}

.public-pads{
	margin-bottom: 0px;

	h5{
		color: @red;
	}
}
/*   ---    List of Pads  --   */





/*   ---    Login  --   */
.m-account-modal{
	position: absolute;
	z-index: 2000;
	width: 100%;
	height: 100%;
	background: @f;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.logo{
		position: relative;
		top: 50px;


		.account-logo{
			display: block;
			width: 100px;
			margin: 0 auto;
		}
	}

	.account-content{
		position: absolute;
		margin-top: 50px;
		bottom: 20px;
		left: 50%;
		margin-left: -125px;

		h6{
			color: @hover-light;
			text-align: center;
			font-size: 24px;
			margin-bottom: 20px;
		}

		.sub-text{
			color: @9;
			text-align: center;

			a{
				color: @blue;
			}
		}

		.fb-login{
			background: #3b5997;
		}

		.github-login{
			background: @dark;
		}

		.social-login{
			margin: 0 auto;
			margin-bottom: 10px;
			width: 250px;

			img{
				width: 30px;
				display: block;
				margin: 0 auto;
			}

			a{	
				display: block;
				padding: 10px 0px;
			}
		}
	}


}


/*   ---    End of Login  --   */
}

/*   ---   End of All Mobile LESS   ---   */










