/*   ---    New Pad  --   */
.create-pad{

    .create-pad-container{
      position: relative;
      left: 50%;
      margin-left: -330px;
      top: 100px;
      width: 660px;
      padding: 60px 60px;
      border: 1px solid @ea;

      h1{
        font-size: 18px;
        color: @dark;
        margin-bottom: 40px;
        text-align: center;
      }
    }

    .modal-container{
    	position: absolute;
    	left: 50%;
    	margin-left: -330px;
    	top: 25%;
    	margin-top: -110px;
    	width: 660px;
    	padding: 60px 60px;
    	border: 1px solid @ea;
    	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
		  -moz-box-shadow:    0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	  	box-shadow:         0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    }


    .pad-type{
    	overflow: hidden;
    	z-index: 2;

    	.type-tab{
    		float: left;
    		background: @ea;
    		color: @f;
    		padding: 10px 20px;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			transition: 0.5s;
			-webkit-transition: 0.5s;
			
    		&:hover{
    			cursor: pointer;
    			background: @d;
    		}
    	}

    	.active{
    		background: @blue;
    		color: @f;

    		&:hover{
    			background: @blue;
    		}

    	}
    }

    .type-line{
    	width: 280px;
    	float: left;
    	border-top: 2px solid @ea;
    	margin-bottom: 40px;
    	margin-top: 0px;
    	position: relative;
    	top: -2px;
    	z-index: -1;


    }

    form{
    	clear: both;
    }

   	.label{
   		float: left;
   		color: @9;
   		width: 120px;
   	}

   	hr{
   		border: none;
   		border-top: 1px solid @ea;
   		margin-top: 25px;
   		margin-bottom: 25px;
   	}

   	.name-input{

   		.label{
   			position: relative;
   			top: 2px;
   			line-height: 40px;

   		}
   	}

   	.pad-name{
   		width: 418px;
   		height: 40px;
   		border: 1px solid @ea;
   		padding-left: 10px;
   		font-size: 14px;

   		&:focus{
   			border: 1px solid @ea;
   			box-shadow: none;
   			outline: none;
   		}
   	}

   	.pad-option{
   		display: inline-block;
   		position: relative;
   		top: 2px;

   		.option-tab{
   			float: left;
   			padding: 10px 10px;
   			border-bottom: 3px solid @ea;
   			margin-right: 20px;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

   			&:hover{
   				cursor: pointer;
   				border-bottom: 3px solid @blue !important;
   				transition: 0.3s;
				-webkit-transition: 0.3s;
   			}

   			p{
   				margin-top: 0px;
   				color: @9;
   			}
   		}

   		.active{
   			border-bottom: 3px solid @blue;

   			p{
   				color: @blue;
   			}
   		}

   		.label{
   			position: relative;
   			line-height: 40px;
   		}
   	}


	.inputWhatPadWillOpen{
		font-style: italic;
		color: @9;
		text-align: center;
		font-size: 12px;
		margin-top: 10px;
	}

	.inputPadErrors{
		color: @red;
		text-align: center;
		margin-bottom: 10px;
	}

	button{
		display: block;
		width: 250px;
		margin: 0 auto;
	}

}

/*   ---    End of New Pad  --   */

