/*   ---   Side Bar General   --   */
.left{
	width: 250px;
	min-height: 500px;
	float: left;
	background-color: @sidebar;
	overflow: hidden;
	position: relative;
	left: 0;
	bottom: 0;
	z-index: 1300;


	.all-pads{
		overflow-y: auto;
		overflow-x: hidden;
	}

}
/*   ---   End of Side Bar General   --   */




/*   ---   Pad List   --   */
.pad-list{
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: @sidebar;

	h5{
		height: 50px;
		line-height: 50px;
		padding: 0px 20px;
		background-color: @sidebar;
	}

	li{
		background-color: @sidebar;
		overflow: hidden;
		clear: both;
		transition: 0.5s;
		-webkit-transition: 0.5s;

		&:hover{
			background-color: @hover;
			cursor: pointer;
		}

		.favorite{
			background: url('/images/main/favorite-icon.png') no-repeat center center;
			background-size: 12px 12px;
			width: 12px;
			height: 50px;
			float: left;
			margin-left: 0px;
			position: relative;
			left: 30px;
			margin-right: 10px;
		}
		.pad-heart-x{
			line-height: 50px;
			transition: 0.5s;
			-webkit-transition: 0.5s;

			span{
				float: right;
				
			}

			.delete{
				background: url('/images/main/small-x.png') no-repeat center center;
				background-size: 12px 12px;
				width: 12px;
				height: 50px;
				padding: 0px 20px 0px 10px;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				&:hover{
					background: url('/images/main/small-x-hover.png') no-repeat center center;
					background-size: 12px 12px;
					width: 12px;
					height: 50px;
				}
			}
		}
	}

	a{
		display: block;
		width: 198px;
		float: left;
		height: 50px;
		line-height: 50px;
		padding: 0px 0px 0px 30px;
		color: @9;
		text-decoration: none;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.active{
		color: @green;
		background-color: @dark;
	}

}
/*   ---   End of Pad List   --   */




/*   ---   User/Shared/Public Pads  --   */
.user-pads{

	h5{
		color: @yellow;
	}
}

.shared-pads{

	h5{
		color: @blue;
	}
}

.public-pads{

	h5{
		color: @red;
	}
}
/*   ---  End of User/Shared/Public Pads  --   */




